%label{:for => "topic"}
  Discussion Topic
  %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(COMMENTS_MSSG, this, event, '');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
= text_area :mod, :topic, :class => 'tinymce'
= tinymce
%p
  %strong Number of Comments to Display
  %span.required *
  %select.page{:name => "mod[num_displayed]"}
    = options_for_select([3,5,8,10,20,100], @mod.num_displayed)
  %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(COMMENTS_NUM_MSSG, this, event, '');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
- unless @mod.comments.empty?
  %label{:for => "mod_comments"}
    Comments
    %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(PAGE_COMMENTS_MSSG, this, event, '');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
  #comment_list
    = render :partial => "comment/comments",  |
      :locals => {:comments => @mod.comments, |
      :edit => true,                          |
      :num_characters => 9999}                |
