= error_messages_for 'mod'
%label{:for => "mod_module_title"}
  Module Title
  %span.required *
  %label
    Select Groups to Search
    %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_GROUPS_MSSG, this, event, '');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
  %table#libraryfind_table{:cellpadding => "5"}
    %tr
      %td
        = check_box_tag("targets[]", "g2",checked = checked?('g2'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_GENERAL, this, event,'125');"} General
      %td
        = check_box_tag("targets[]", "g6", checked = checked?('g6'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_ARTICLES, this, event,'125');"} Articles
      %td
        = check_box_tag("targets[]","g4", checked = checked?('g4'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_BOOKS, this, event,'125');"} Books and more
    %tr
      %td
        = check_box_tag("targets[]", "g3", checked = checked?('g3'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_IMAGES, this, event,'125');"} Images
      %td
        = check_box_tag("targets[]", "g1", checked = checked?('g1'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_AGRICULTURE, this, event,'125');"} Agriculture
      %td
        = check_box_tag("targets[]", "g5", checked = checked?('g5'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_VETMED, this, event,'125');"} Animal Sciences
    %tr
      %td
        = check_box_tag("targets[]", "g11", checked = checked?('g11'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_Anthropology, this, event,'125');"} Anthropology
      %td
        = check_box_tag("targets[]", "g16", checked = checked?('g16'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_APPARALS, this, event,'125');"} Apparels and Textiles
      %td
        = check_box_tag("targets[]",  "g21", checked = checked?('g21'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_ART, this, event,'125');"} Art and Photography
    %tr
      %td
        = check_box_tag("targets[]",  "g26", checked = checked?('g26'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_BIOLOGICAL, this, event,'125');"} Biological Sciences
      %td
        = check_box_tag("targets[]",  "g31", checked = checked?('g31'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_BUSINESS, this, event,'125');"} Business
      %td
        = check_box_tag("targets[]",  "g36", checked = checked?('g36'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_COMMUNICATION, this, event,'125');"} Communication Studies
    %tr
      %td
        = check_box_tag("targets[]",  "g46", checked = checked?('g46'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_CS, this, event,'125');"} Computer Science
      %td
        = check_box_tag("targets[]",  "g41", checked = checked?('g41'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_COMPOSITION, this, event,'125');"} Composition and Rhetoric
      %td
        = check_box_tag("targets[]",  "g51", checked = checked?('g51'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_ISSUES, this, event,'125');"} Current Issues
    %tr
      %td
        = check_box_tag("targets[]", "g56", checked = checked?('g56'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_ECOLOGY, this, event,'125');"} Ecology and Wildlife
      %td
        = check_box_tag("targets[]",  "g61", checked = checked?('g61'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_ECONOMICS, this, event,'125');"} Economics
      %td
        = check_box_tag("targets[]",  "g66", checked = checked?('g66'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_EDUCATION, this, event,'125');"} Education
    %tr
      %td
        = check_box_tag("targets[]",  "g67", checked = checked?('g67'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_ENGINEERING, this, event,'125');"} Engineering and Applied Sciences
      %td
        = check_box_tag("targets[]",  "g71", checked = checked?('g71'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_ENVIRONMENTAL, this, event,'125');"} Environmental Sciences and Toxicology
      %td
        = check_box_tag("targets[]",  "g76", checked = checked?('g76'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_ETHNIC, this, event,'125');"} Ethnic Studies
    %tr
      %td
        = check_box_tag("targets[]",  "g77", checked = checked?('g77'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_EXERCISE, this, event,'125');"} Exercise and Sport Sciences
      %td
        = check_box_tag("targets[]",  "g82", checked = checked?('g82'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_FOOD, this, event,'125');"} Food and Nutrition
      %td
        = check_box_tag("targets[]",  "g87", checked = checked?('g87'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_LANGUAGE, this, event,'125');"} Foreign Languages and Literature
    %tr
      %td
        = check_box_tag("targets[]",  "g91", checked = checked?('g91'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_FOREST, this, event,'125');"} Forest and Natural Resource Management
      %td
        = check_box_tag("targets[]",  "g92", checked = checked?('g92'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_GEOSCIENCES, this, event,'125');"} Geosciences
      %td
        = check_box_tag("targets[]",  "g97", checked = checked?('g97'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_GOVINFO, this, event,'125');"} GovInfo
    %tr
      %td
        = check_box_tag("targets[]",  "g101", checked = checked?('g101'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_DESIGN, this, event,'125');"} Graphic Design
      %td
        = check_box_tag("targets[]",  "g102", checked = checked?('g102'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_HDFS, this, event,'125');"} HDFS
      %td
        = check_box_tag("targets[]",  "g107", checked = checked?('g107'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_HEALTH, this, event,'125');"} Health Sciences/Pharmacy
    %tr
      %td
        = check_box_tag("targets[]",  "g112", checked = checked?('g112'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_HISTORY, this, event,'125');"} History
      %td
        = check_box_tag("targets[]",  "g117", checked = checked?('g117'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_HISTSCIENCE, this, event,'125');"} History of Science
      %td
        = check_box_tag("targets[]",  "g122", checked = checked?('g122'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_HOUSING, this, event,'125');"} Housing
    %tr
      %td
        = check_box_tag("targets[]",  "g127", checked = checked?('g127'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_HUMANITIES, this, event,'125');"} Humanities
      %td
        = check_box_tag("targets[]",  "g132", checked = checked?('g132'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_INTERIOR, this, event,'125');"} Interior Design
      %td
        = check_box_tag("targets[]",  "g136", checked = checked?('g136'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_LAW, this, event,'125');"} Law
    %tr
      %td
        = check_box_tag("targets[]",  "g141", checked = checked?('g141'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_LINGUISTICS, this, event,'125');"} Linguistics
      %td
        = check_box_tag("targets[]",  "g142", checked = checked?('g142'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_LITERATURE, this, event,'125');"} Literature
      %td
        = check_box_tag("targets[]",  "g147", checked = checked?('g147'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_MATHEMATICS, this, event,'125');"} Mathematics
    %tr
      %td
        = check_box_tag("targets[]",  "g151", checked = checked?('g151'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_MERCHANDISING, this, event,'125');"} Merchandising
      %td
        = check_box_tag("targets[]",  "g152", checked = checked?('g152'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_MILITARY, this, event,'125');"} Military Science
      %td
        = check_box_tag("targets[]",  "g157", checked = checked?('g157'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_MUSIC, this, event,'125');"} Music
    %tr
      %td
        = check_box_tag("targets[]",  "g162", checked = checked?('g162'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_NEWSPAPERS, this, event,'125');"} Newspapers
      %td
        = check_box_tag("targets[]",  "g166", checked = checked?('g166'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_OCEANOGRAPHY, this, event,'125');"} Oceanography
      %td
        = check_box_tag("targets[]",  "g167", checked = checked?('g167'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_OUTDOOR, this, event,'125');"} Outdoor Recreation, Leadership and Tourism
    %tr
      %td
        = check_box_tag("targets[]",  "g172", checked = checked?('g172'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_PEACE, this, event,'125');"} Peace Studies
      %td
        = check_box_tag("targets[]",  "g177", checked = checked?('g177'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_PHILOSOPHY, this, event,'125');"} Philosophy of Science
      %td
        = check_box_tag("targets[]",  "g182", checked = checked?('g182'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_RELIGION, this, event,'125');"} Philosophy, Religion and Ethics
    %tr
      %td
        = check_box_tag("targets[]",  "g187", checked = checked?('g187'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_PHYSICALSCI, this, event,'125');"} Physical Sciences
      %td
        = check_box_tag("targets[]",  "g192", checked = checked?('g192'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_POLITICAL, this, event,'125');"} Political Science
      %td
        = check_box_tag("targets[]",  "g196", checked = checked?('g196'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_PSYCHOLOGY, this, event,'125');"} Psychology
    %tr
      %td
        = check_box_tag("targets[]",  "g197", checked = checked?('g197'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_SOCIAL, this, event,'125');"} Social Sciences
      %td
        = check_box_tag("targets[]",  "g202", checked = checked?('g202'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_SOCIOLOGY, this, event,'125');"} Sociology
      %td
        = check_box_tag("targets[]",  "g211", checked = checked?('g211'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_THEATRE, this, event,'125');"} Theatre
    %tr
      %td
        = check_box_tag("targets[]",  "g216", checked = checked?('g216'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_WATER, this, event,'125');"} Water and Watersheds
      %td
        = check_box_tag("targets[]",  "g217", checked = checked?('g217'))
        %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_WOMEN, this, event,'125');"} Women Studies
  %label{:for => "description"}
    Search Information
    %span.more_help{:onmouseout => "delayhidetip()", :onmouseover => "fixedtooltip(LF_INFO_MSSG, this, event, '');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
  = text_area_tag 'mod', 'information', :class => 'tinymce'
  = tinymce
