%fieldset
  %h3.title
    = render :partial => 'title_actions'
  %h4
    = link_to "Add To/Used On", :controller => 'module', :action =>'manage', :id => @mod.id, :type => @mod.class
    >> Add to Tutorials
  - if flash[:error]
    #error_wrapper
      #list_error= flash[:error]
  %p Check the box next to the unit you want to add the module to.
  - unless @tutorials.size <1
    = form_tag :action => 'add_to_tutorial', :id => @mod.id, :type => @mod.class do
      #product-list
        #table
          = render :partial => "add_tutorial_list"
      %div= submit_tag 'Add Module', :class=> "submit"
  - else
    %p
      %b You do not have any Tutorials to add to.
