%fieldset
  %h3.title
    = render :partial => 'title_actions'
  %h4
    Course Pages
  #new_button.new
    %a{:href => "/module/add_to_page/#{@mod.id}?type=#{@mod.class}&sort=name"}
      %span
        %img{:alt => "Add Tab", :src => "icons/add.png"}/
        Add to Course Pages
  #product-list
    - if !@course_pages.blank?
      %table
        %thead
      %th
        Course Pages for #{@mod.label}
      %th
      - @course_pages.each do |page|
        %tr{:class => cycle('list-line-odd', 'list-line-even')}
          %td
            %b= h page.header_title
          %td
            = link_to image_tag("icons/edit.png", :title => 'Edit this Page', :alt => 'Edit', :border => 0), {:controller =>'page', :action => 'edit',  :id => page }, :class=>'space'
            |
            \#{link_to image_tag("icons/document_preview.png", :title => 'Preview this Page', :alt => 'View Page', :border => 0), { :controller => "ica", :action => 'index', :id => page}, :popup => ['', 'height=800,width=980,toolbar=yes, scrollbars =yes,resizable=yes'],:class=>'space'}
    - else
      %p This Module is not used on any Course Pages.
