.row
  %h1= render 'title_actions'

.row
  .span4
    %h2 Add Editor
    .tip By sharing this module you are giving editing rights to the people you select.
    = form_tag({:action=> 'share_update', :id =>@mod.id, :type=> @mod.class}) do
      %select#users.share{:multiple => "multiple", :name => "users[]"}
        = options_from_collection_for_select(@user_list, 'id', 'name')
      %br/
      .tip (press Ctrl or Command to select mutiple users)
      %br/
      = submit_tag "Share", class: 'btn btn-primary'
      = link_to 'Cancel', modules_path, class: 'btn btn-cancel'

  .span8
    %h2 Module Editors
    .tip Removing someone revokes their editing rights. The module's owner can not be removed from the list.
    %table.table.table-striped
      - @mod_owners.each do |user|
        %tr
          %td= user.name
          %td
            - unless user.name == @mod.created_by
              = link_to remove_user_from_module_path(@mod, type: @mod.class, user: user), title: 'Remove this user from the editor list', confirm: 'Are you sure you want to remove this user form the editor list?', method: :post do
                %i.icon-remove
