%h1.page-header
  Hello #{ @user.name }

.row
  .span9

    %div
      %h2 Modules
      %p
        %i.icon-large.icon-plus-sign{ :title => 'New module', :alt => 'add' }
        = link_to 'Create a new content module', new_module_path
      %p
        %i.icon-large.icon-folder-open{ :title => 'Browse my modules', :alt => 'browse' }
        = link_to 'Browse content modules', modules_path
      - unless @user.resource_id.blank?
        %p
          %i.icon-large.icon-edit{ :title => 'My contact module', :alt => 'edit' }
          = link_to 'Edit default contact module' , :controller => 'dashboard', :action => 'my_profile', :rid => @user.resource_id
          %br/
      - else
        %p
          %i.icon-large.icon-wrench{ :title => 'Set my contact module', :alt => 'edit' }
          = link_to 'Set default contact module', :controller => 'dashboard', :action => 'edit_profile'
      %p
        %i.icon-large.icon-globe{ :title => 'Browse global modules', :alt => 'browse' }
        = link_to 'Browse global modules', modules_path(list: 'global')

    %hr

    .row
      - if @local.guides_list.include?('guides')
        %div.span3
          %h2 My Guides
          %p
            %i.icon-large.icon-plus-sign{ :title => 'New guide', :alt => 'add' }
            = link_to 'Create a new subject guide', new_guide_path
          %p
            %i.icon-large.icon-folder-open{ :title => 'Browse my guides', :alt => 'browse' }
            = link_to 'Browse subject guides', guides_path

      - if @local.guides_list.include?('pages')
        %div.span3
          %h2 My Pages
          %p
            %i.icon-large.icon-plus-sign{ :title => 'New page', :alt => 'add' }
            = link_to 'Create a new course page', new_page_path
          %p
            %i.icon-large.icon-folder-open{ :title => 'Browse my pages', :alt => 'browse' }
            = link_to 'Browse course pages', pages_path

      - if @local.guides_list.include?('tutorials')
        %div.span3
          %h2 My Tutorials
          %p
            %i.icon-large.icon-plus-sign{ :title => 'New tutorial', :alt => 'add' }
            = link_to 'Create a new tutorial', new_tutorial_path
          %p
            %i.icon-large.icon-folder-open{ :title => 'Browse my tutorials', :alt => 'browse' }
            = link_to 'Browse tutorials', tutorials_path

  .span3

    .well.well-small
      %h3 Overview
      %p
        You have #{@cnum} published course pages, #{@acnum} archived course pages, #{@gnum} published subject guides, #{@tnum} published tutorials, #{@atnum} archived tutorials, and #{@mnum} modules.
      %p
        %i.icon-large.icon-user{ :title => 'My account', :alt => 'account' }
        = link_to 'Edit my account', :controller => 'dashboard', :action => 'my_account'
        %br/
        %span.muted
          Edit user name, email or password.
      %p
        %i.icon-large.icon-question-sign{ :title => 'Help/FAQ', :alt => 'help' }
        %a{:href => 'http://alacarte.library.oregonstate.edu/support', :target => '_blank'}
          Get Help
        %br/
        %span.muted
          Get help and read about new features.

    .well.well-small
      %h3 Recent Activity
      %ul.unstyled
        - for item in @recents
          %li
            %i.icon-edit{ :title => 'Edit', :alt => 'edit' }
            = activity_link(item)
