= render :partial => 'ort/top'
#content
  / <div id="item-corner"></div>
  #content-column2
    .item
      .item2
        .item3
          %h2 Register
          %p
            New to
            = succeed "?" do
              %b= @tutorial.full_name
            %br/
            = link_to 'Create an Account', {:controller => 'student', :action => 'create_account', :id =>@tutorial}
  #content-column1
    %h3 Forgot Username
    - if flash[:notice]
      #notice= flash[:notice]
    = form_tag :controller =>"student", :action=>'forgot_password', :id =>@tutorial.id do
      %label{:for => "email"} Email
      = text_field "student","email", :size =>25
      .tip e.g. smithj@mail.edu
      %br/
      = submit_tag 'Send it', :class => 'submit'
    / end content-column1
  #content-column1
    %h3 Why Log in?
    %p
      This tutorial requires you to log in so that you can that you can take the graded quizzes.
      Your scores will then be submitted to your instructor.  Please log in with your
      = succeed "." do
        %b username and email address
    / end content-column1
  / end content
  .bot
    %div
