.feeds
  %fieldset
    %label
      RSS Feed #{content_tag :a,  image_tag("icons/remove.png", :alt => 'Remove', :title => 'Click to delete this feed', :border => 0), :onclick => "$(this).up('.feeds').remove()"}
    %br/
    %br/
    - new_or_existing = feed.new_record? ? 'new' : 'existing'
    - prefix = "mod[#{new_or_existing}_feed_attributes][]"
    = fields_for prefix, feed do |feed_form|
      #feed
        %div{:id => "new_feed_#{feed.id}"}
          %label{:for => "feed_label"}
            Label
            %span.required *
            %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(ADD_FEED_LABEL_MSSG, this, event, '');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
          = feed_form.text_field :label, "size" => 14
          %label{:for => "feed_label"}
            URL
            %span.required *
            %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(ADD_FEED_URL_MSSG, this, event, '');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
          = feed_form.text_field :url, "size" => 40
          #inline_error
            = error_message_on :feed, :label
          #inline_error
            = error_message_on :feed, :url
