%h1 Edit Module

= form_for @mod do |f|
  = error_messages_for :mod

  %label{ for: 'mod_label' }
    Private Label
    %span.required *
  = f.text_field :label, size: 55

  %label{ for: 'mod_title' }
    Module Title
    %span.required *
  = f.text_field :module_title, size: 55

  %label{ for: 'mod_tag_list' } Tags
  = f.text_field :tag_list, size: 55
  .tip example: WR101, Databases, Writing

  %label{ for: 'mod_info' } General Information
  = f.text_area :info, class: 'tinymce'
  = tinymce
  %br/
  %h3 Databases
  %hr
    %p
      = awesome_button polymorphic_path([@mod], action: :add_databases), 'plus', 'Add Database', 'btn btn-primary'
    %ul
      - @mod.database_dods.each do |db|
        - dod = db.dod
        - if dod
          %li{ :id => "item_#{ dod.id }" }
            = truncate dod.title, :length => 40
            &nbsp;
            &nbsp;
            = awesome_button edit_dod_path(dod), 'edit', 'Edit this database', ''
            |
            = link_to '', polymorphic_path([@mod], action: :remove_database, dod_id: dod.id), :confirm => 'Are you sure you want to remove this database?', :method => :post, :class => 'icon-trash', :title => 'Remove this database'
  %br/
  %br/
  = f.submit class: 'btn btn-primary'
  = link_to 'Cancel', modules_path, class: 'btn btn-cancel'
