%section{ :id => "topic_#{ @mod.class.to_s.downcase }_#{ @mod.id }" }
  %h2= h @mod.module_title
  .module
    - unless @mod.info.blank?
      = raw @mod.info
    %ul.undeco
      - for db in @mod.database_dods
        - dod = db.dod
        - if dod
          %li
            - if dod.proxy == false
              %a{:href => "#{@mod.proxy}#{dod.url}"}= dod.title
              = image_tag("icons/lock.png", :title => 'Must login to access', :alt => 'locked database')
            - else
              %a{:href => dod.url}= dod.title
              = image_tag("icons/lock_off.png", :title => 'Open access', :alt => 'open database')
            %br/
            = raw db.description
            %br/
            - unless dod.coverage_label.blank?
              Coverage Dates: #{dod.coverage_label}
