.row
  .span2
    = render 'modules/side_bar'

  .span10
    %h1.page-header Edit Module

    = report_errors @mod

    = form_for @mod do |f|
      = render 'modules/mod_title'
      .control-group
        .controls
          = text_area :mod, :content, class: 'tinymce'
          = tinymce
      .control-group
        .controls
          = f.submit 'Save', class: 'btn btn-primary'
          = link_to 'Cancel', modules_path, class: 'btn btn-cancel'
