%legend Edit Module

= form_for @mod do |f|
  = error_messages_for :mod

  = render 'modules/mod_title'

  %p
    &nbsp;

  = f.text_area :content, class: 'tinymce'
  = tinymce

  %br
  .control-group
    .controls
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Cancel', modules_path, class: 'btn btn-cancel'
