%table.table.table-striped
  %thead
    %tr
      %th Label
      %th
      %th Last Update
      %th Author
  %tbody
    - @mods.each do |mod|
      %tr
        %td= truncate(raw(mod.label),:length => 55)
        %td
          = awesome_button copy_node_path(mod), 'copy', 'Copy this module'
          &nbsp;
          = awesome_button node_path(mod), 'external-link', 'Preview this module', '', { :target => '_blank' }
        %td= mod.updated_at.to_date
        %td= mod.created_by

= will_paginate @mods
