.row
  .span2
    = render 'side_bar'

  .span10
    %h1.page-header
      Add to / Used on
    %p.muted
      This page shows where the module is used. You can also add the module to multiple pages or guides at one time.
    - if @course_pages
      %h3
        Used on #{@course_pages.length} Pages
      %p
        = awesome_button add_to_page_node_path(@mod), 'plus', 'Add to Pages', 'btn'
      %table.table.table-striped
        - @course_pages.each do |page|
          %tr
            %td
              = raw page.header_title
            %td
              = awesome_button edit_page_path(page), 'edit', 'Edit this page'
              &nbsp;
              = awesome_button course_page_path(page), 'external-link', 'Preview this page', '', { :target => '_blank' }
    - if @guides
      %hr
      %h3
        Used on #{@guides.length} Guides
      %p
        = awesome_button add_to_guide_node_path(@mod), 'plus', 'Add to Guides', 'btn'
      %table.table.table-striped
        - @guides.each do |guide|
          %tr
            %td
              = raw guide.guide_name
            %td
              = awesome_button edit_guide_path(guide), 'edit', 'Edit this guide'
              &nbsp;
              = awesome_button subject_guide_path(guide), 'external-link', 'Preview this guide', '', { :target => '_blank' }
