.container
  .row
    - if @tutorial.graded? or !@tutorial.attachment_file_name.blank?
      .alert
        - if @tutorial.graded?
          #graded
            %p
              %i.icon-warning-sign.icon-large
              This tutorial has
              %strong
                = pluralize @tutorial.units.length, 'unit'
              and
              %strong>
                = pluralize @tutorial.quizzes.length, 'quiz'
              \. Make sure you complete all the quiz questions. Remember, you can only take the graded quizzes once.
        - unless @tutorial.attachment_file_name.blank?
          #download
            %p
              %i.icon-warning-sign.icon-large
              This tutorial has a printable handout. Click to download:
              %a{ :href => '#{ @tutorial.attachment.url() }', :title => 'Click to download handout' }
                = raw @tutorial.attachment_file_name

    %h1.page-header
      = raw @tutorial.name

    = yield :table_of_contents

    %section#about-this-tutorial
      %h2
        About this tutorial
      %p
        = raw @tutorial.description
      %p
        - if !@student && @tutorial.graded?
          = link_to({ :controller => 'student' }, :action => 'login', :id => @tutorial, :class => 'btn') do
            Login &nbsp;
            %i.icon-signin
        - else
          = link_to({ :controller => 'ort' }, :action => 'start', :id => @tutorial, :class => 'btn btn-primary') do
            Start &nbsp;
            %i.icon-play

    - unless @tutorial.unitizations.blank?
      %hr.muted
      %section#tutorial-units
        = yield :unitizations

    = render :partial => 'shared/metadata', :locals => { :tag_list => @tutorial.tag_list }
