.container
  %h1.page-header
    = @tutorial.full_name

  %h2
    Tutorial Grades

  = form_tag :action => 'grades' do
    %p
      %h3
        Sort by Section Number
      %select{ :id => 'section', :name => 'section' }
        %option{ :value => '00', :selected => 'selected' }
        Select
        %strong
          Course Section #:
          = options_for_select(@sections, @sect)
      = submit_tag 'Go'
      - if @sect
        %small
          = link_to 'Show All Sections', :action => 'grades'
        %h4
          = link_to 'Export Section ' + @sect + ' Grades', :controller => 'ort', :action => 'export', :id => @tutorial.id, :section => @sect

  - if @students.size < 1
    %p
      Sorry there are no quiz results for this tutorial.
  - else
    - @students.each do |student|
      %h3
        = student.name
      %p
        %dl.dl-horizontal
          %dt
            Onid
          %dd
            = student.onid
          %dt
            Section
          %dd
            = student.sect_num
          %dt
            Email
          %dd
            =student.email
          %dt
            Total Score
          %dd
            = student.final_score
            out of
            =@tutorial.possible_score
       %h3
         Quizzes
       - quizzes, left = student.quizzes(@tutorial)
       - total = 0
       - quizzes.each do |quiz|
         %h4
           = quiz.module_title
         - results = student.get_results(quiz.id)
         - results.each do |result|
           - question = quiz.questions.find(result[0])
           - total = result[2] + total
           %label
             = question.question
           %ul
             %li
               %label
                 Correct Answer:
               = raw question.correct_answer
               %br
               %label
               Student's Answer:
               = raw result[1]
               - unless question.points == 0
                 %br
                 %label
                   = result[2]
                   out of
                   = raw question.points
           %h5
             Score:
             = total
             \/
             = quiz.possible_points
           %p
             Taken on:
             = student.taken_on.to_formatted_s(:long)
    %hr
