- content_for :ada_navigation do
  = link_to 'Go to screenreader version' , { :action => 'mobile_index', :id => @tutorial } , :id => 'alt-version'

- content_for :unitizations do
  %h2
    What to expect
  %ol
    - @tutorial.unitizations.each do |uz|
      - unit = uz.unit
      %li
        = link_to raw(unit.title), { :controller => 'ort', :action => 'unit', :id =>@tutorial, :uid => unit.id }
        %p
          = raw unit.description

- content_for :footer do
  = link_to 'Screenreader, print & mobile version' , { :action => 'mobile_index', :id => @tutorial } , :id => 'alt-version'

= render :partial => 'ort/top'

= render :partial => 'ort/index'
