<%= render :partial => 'ort/top'%>

<div class="container">
  <div class="row">
    <%if @tutorial.graded? or !@tutorial.attachment_file_name.blank? %>
      <div class="alert">
        <% if @tutorial.graded? %>
          <div id="graded">
            <p>
              <%= image_tag("icons/warning.png",
                            :title => "Quiz Warning",
                            :alt => "Quiz Warning") %>
              This tutorial has
              <strong>
                <%= pluralize @tutorial.units.length, 'unit' %>
              </strong> and
              <strong>
                <%= pluralize @tutorial.quizzes.length, 'quiz' %>
              </strong>.
              Make sure you complete all the quiz questions. Remember,
              you can only take the graded quizzes once.
            </p>
          </div>
        <% end %>

        <% unless @tutorial.attachment_file_name.blank?%>
          <div id="download">
            <p>
              <%= image_tag("icons/warning.png",
                            :title => 'Download',
                            :alt => 'Download') %>
              This tutorial has a printable handout. Click to download:
              <a href="<%=@tutorial.attachment.url()%>"
                 title="Click to download handout">
                <%=  h(@tutorial.attachment_file_name) %></a>
            </p>
          </div>
        <% end %>
      </div> <!-- end alert -->
    <% end %>

    <h2>About this tutorial</h2>

    <p>
      <%= @tutorial.description %>
    </p>

    <p>
      <% if !@student && @tutorial.graded? %>
       <%= link_to "Login", :controller => "student", :action => "login", :id => @tutorial %>
      <% else %>
      <%= link_to "Start", :controller => "ort", :action => "start", :id => @tutorial %>
      <% end %>
    </p>

    <hr class="muted"/>

    <h2>What to expect</h2>

    <% unless @tutorial.unitizations.blank? %>
      <ol>
        <% @tutorial.unitizations.each do |uz|
           unit = uz.unit %>
          <li>
            <%= link_to unit.title,
                        { :controller => "ort",
                          :action => "unit",
                          :id =>@tutorial,
                          :uid => unit.id } %>
            <p>
              <%= unit.description %>
            </p>
          </li>
        <% end %>
      </ol>
    <% end %>

    <%= render :partial => "shared/metadata",
               :locals => { :tag_list => @tutorial.tag_list } %>

  </div> <!-- end row -->
</div> <!-- end container -->
