= render :partial => 'ort/top'

- resources = @unit.resourceables
.container
  %h2
    = @unit.title

    .pagination
      %ul
        %li
          = link_to { :controller => 'ort', :action => 'previous_lesson', :id => @tutorial, :uid => @unit.id, :mid => @mod, :type => @mod.class } do
            %i.icon-double-angle-left
        - unless resources.blank?
          - resources.each_with_index do |resable, index|
            - res = resable.resource
            - mod = res.mod
            %li
              = toc_link_to index + 1, :controller => 'ort', :action => 'lesson', :id => @tutorial, :uid => @unit.id, :mid => mod, :type => mod.class
        %li
          = link_to { :controller => 'ort', :action => 'next_lesson', :id =>@tutorial, :uid => @unit.id, :mid => @mod, :type => @mod.class } do
            %i.icon-double-angle-right

  = show_mod(@mod)

  %ul.pager
    %li.previous
      = link_to { :controller => 'ort', :action => 'previous_lesson', :id => @tutorial, :uid => @unit.id, :mid => @mod, :type => @mod.class } do
        %i.icon-chevron-left
        Back
    %li.next
      = link_to { :controller => 'ort', :action => 'next_lesson', :id => @tutorial, :uid => @unit.id, :mid => @mod, :type => @mod.class } do
        Next
        %i.icon-chevron-left
