- content_for :ada_navigation do
  = link_to 'Go to screenreader version' , { :action => 'mobile_published_tutorials', :id => @tutorial } , :id => 'alt-version'

- content_for :right_sidebar do
  .span4
    = render :partial => 'shared/right_sidebar'

- content_for :tab_headings do
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#tutorial-list', :data => {:toggle => 'tab'}}
        Browse Tutorials
    %li
      %a{:href => '#guide-list', :data => {:toggle => 'tab'}}
        Browse Guides

- content_for :tab_content do
  #tutorial-list.tab-pane.active
    = render :partial => 'browse_tutorials', :locals => { :subjects => @subjects, :tutorials => @tutorials }
  #guide-list.tab-pane
    = render :partial => 'browse_guides', :locals => { :guides => @guides }

- content-for :footer do
  = link_to 'Screenreader, print & mobile version' , { :action => 'mobile_published_tutorials', :id => @tutorial } , :id => 'alt-version'

= render :partial => 'shared/tabbed_index', :locals => { :header_title => @title }
