- content_for :ada_navigation do
  = link_to 'Go to screenreader version' , { :action => 'mobile_tagged', :id => @tutorial } , :id => 'alt-version'

- content_for :search_results do
  = render :partial => 'shared/browse_by_tag', :locals => { :controller => controller, :type => 'Tutorials', :tag => @tag, :pages => @tutorials, :type_url => "tutorials" }
  %hr
  = render :partial => 'shared/browse_by_tag', :locals => { :controller => 'srg', :type => 'Guides', :tag => @tag, :pages => @guides, :type_url => 'subject-guides' }

- content-for :footer do
  = link_to 'Screenreader, print & mobile version' , { :action => 'mobile_tagged', :id => @tutorial } , :id => 'alt-version'

= render :partial => 'shared/published_page_results', :locals => { :header_title => @local.tutorial_page_title }
