<%= render 'shared/mod_list' %>
<div id ="second_tabs">
  <ul id="second_tabs">
    <li class = "<%= @globcurrent %>"> <%= link_to "Global Modules" , :controller => 'module', :action => 'index', :sort => 'name', :list => 'global'%></li>
    <li class = "<%= @tgcurrent %>"> <%= link_to "Browse By Tags" , :controller => 'tagged', :action => 'index', :sort => 'name'%></li>
    <li  class = "<%= @mycurrent %>"><%= link_to "My Modules" , :controller => 'module', :action => 'index', :sort => 'name', :list => 'mine'%></li>
    <li class = "<%= @seccurrent %>">
      <span id="message"><%=search_results_message%></span>
      <%= form_tag  :action => 'index' do%>
      <%= text_field 'mod', 'search',"size" => 35,
      :value => @search_term
      %>
      <%= submit_tag 'Search' %>
      <%end%>
    </li>
    <li class="pagination">
      <%if @mods.total_pages > 1%>
      <%= will_paginate @mods, :params => params.merge({:sort=> @sort}).except(:authenticity_token), :page_links => false %>
      <%end%>
    </li>
  </ul>
</div>
<div class="clearer"></div>

<div id="product-list">
  <%unless @mods.empty?%>
  <div id="table">
    <%=render :partial => "search_list"%>
  </div>
  <%else%>
  <div id="notice" > No Modules found with <b><%=@search_term%></b>. </div>
  <div></div>
  <%end%>
</div>

</div>
