%fieldset
  = render :partial => '/module/edit_top'
  - if flash[:error]
    #error_wrapper
      #list_error= flash[:error]
  = error_messages_for 'mod'
  = form_tag({:controller => 'image', :action => 'update_image', :id => @mod} , {:multipart => true, :onKeyPress=> 'return disableEnterKey(event)'})  do
    = render :partial => '/module/mod_title'
    %label{:for => "mod_info"}
      General Information
      %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(IMAGE_INFO_MSSG, this, event, '');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
    = text_area_tag 'mod', 'information',:class => "tinymce"
    = tinymce
    #images
      %fieldset
        %h5 Layout Options
        %label{:for => "mod_link_info"}
          What Image Size?
          %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(IMAGE_SIZE_MSSG, this, event, '');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
        %p
          = radio_button :mod, :size, "Q"
          Square (75 x 75)   #{radio_button :mod, :size, "T"}Thumbnail (100 x 75)   #{radio_button :mod, :size, "S"}Small (max width: 250)  #{radio_button :mod, :size, "F"}Full Screen
        %label
          What Orientation?
          %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(IMAGE_ORIEN_MSSG, this, event, '');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
        %p
          = radio_button :mod, :orientation, "V"
          Vertical  #{radio_button :mod, :orientation, "H"}Horizontal
    = render :partial => '/image/image', :collection => @mod.images
    %label
      = link_to_function image_tag("icons/add.png", :title => 'Click to add an image', :alt => '', :border => 0)+" Add Image by URL" do |page| |
        page.insert_html :bottom, :images, :partial => 'image', :object => Image.new                                                           |
        end                                                                                                                                    |
    = image_tag "spinner.gif", :id => "spinner_search", :class => 'image', :alt => "Spinner", :style => 'display:none;'
    #images
      %fieldset
        #search
          %label.form_float{:for => "search"}
            Search Flickr Images
            \#{text_field_tag 'search_value', ''}
          %label.form_float{:for => "button"}
            = button_to_function("Search",                                                                                                                         |
              remote_function(:update => "search_list", :loading => "Element.show('search_spinner_search')", :complete => "Element.hide('search_spinner_search')", |
              :url => { :action => 'search_flickr', :id => @mod}, :submit =>'search'))                                                                             |
          = image_tag "spinner.gif", :id => "search_spinner_search", :class => 'image', :alt => "Spinner", :style => 'display:none;'
        .clearer
        #search_list
          - if @list
            = render :partial => "image/search_results", :locals => {:list => @list, :mod => @mod}
    #submit_button
      = submit_tag 'Save Module', :class => "submit"
      %p
        = link_to 'Cancel', :controller => 'module', :action => 'index',:id => @mod, :type =>@mod.class, :list => 'mine', :sort => 'name'
