%fieldset
  %h3 Add Subject
  = form_tag :action => 'save_subject' do
    = render :partial => 'subject_form'
    %br/
    %br/
    = submit_tag 'Add Subject' ,:class =>"submit"
    = submit_tag 'Save Subject and Add More' ,:class =>"submit"
    %br/
    %br/
  %p
    %b= link_to 'Cancel', :action => 'subjects'
