%fieldset
  %h3= _('Assign %{name}') % { name: h(@tutorial.full_name) }
  - if flash[:notice]
    #error_wrapper
      #notice= flash[:notice]
  #share
    %fieldset
      = form_tag({:action=> 'tutorial_update',:id =>@tutorial}) do
        = render 'shared/share_left'
        #share_right
          %label{:for => "copy"}
            = _('Share Tutorial or Share Copy?')
            %br/
          .tip
            = _('Select original to give people editing rights.')
            %br/
            = ('Sharing a copy does not give people editing rights to the original.')
          = radio_button_tag('copy', 2, true)
          Original
          %br/
          = radio_button_tag('copy', 1, false)
          Copy
        %br/
        .clearer
        %p
          = submit_tag _('Share Tutorial'), :class => "submit"
    %div
      %fieldset
        %h5= _('Tutorial Colaborators')
        .tip= _("Removing someone revokes their editing rights. The tutorial's creator can not be removed from the list.")
        #editor-list
          %table
            - for user in @owners
              %tr{:class => cycle('list-line-odd', 'list-line-even')}
                %td{:width => "70%"}
                  %span.list-title= h user.name
                %td
                  - unless @owners.size == 1
                    = link_to image_tag('icons/user_remove.png', :title => _('Remove this user from editor list'), :alt => 'remove user', :border => 0), {:action => 'remove_user_from_tutorial', :id => @tutorial, :uid => user.id}, :confirm => _('Are you sure you want to remove this user from the editor list?'), :method => :post
    %p
      %b= link_to _('Back to Users'), :action => 'users'
