%h1.page-header= _('Customize Public Templates')

= report_errors @local
= form_tag :action => 'customize_layout', :id => @local do

  %fieldset
    %legend= _('Layout')

    .control-group
      %label.control-label{ :for => 'local_banner_url' }= _('Banner URL')
      .controls
        = text_field :local, 'banner_url', class: 'input-xlarge'
        %p.muted= _('The banner is an image slice for the top of the templates.')

    .control-group
      %label.control-label{ :for => 'local_logo_url' }= _('Logo URL')
      .controls
        = text_field :local, 'logo_url', class: 'input-xlarge'
        %p.muted= _('The logo is an image that sits on top of the banner.')

    .control-group
      %label.control-label{ :for => 'local' }= _('Logo Width and Height')
      .controls
        = text_field :local,'logo_width'
        = text_field :local,'logo_height'
        %p.muted= _('Enter the width and height of the logo image to set the header height and the image map hot spot.')

    .control-group
      %label.control-label{ :for => 'local' }= _('Image Map URL')
      .controls
        = text_field :local,'image_map', class: 'input-xlarge'
        %p.muted= _("Enter the Url you want the logo to link to. This is often your universities' home page.")

    .control-group
      %label.control-label{ :for => 'local' }= _('Footer Text')
      .controls
        %p.muted= _('Enter text for a custom footer. (HTML OK)')
        = text_area :local, 'footer', :class => 'ckeditor'

    .control-group
      %label.control-label{ :for => 'local' }= _('Portal Right-Hand Box')
      .controls
        %p.muted
          = _('Add information into the right-hand side box of the portal templates (HTML|embed|object|param tags OK).')
          = succeed _('This') do
            %br/
          = _('is displayed in the right side of the portals.')
        = text_area :local, 'right_box', :class => 'ckeditor'

    .control-group
      %label.control-label{ :for => 'local' }= _('Portal Left-Hand Box')
      .controls
        %p.muted
          = _('Add information into the left-hand side box of the portal templates (HTML|embed|object|param tags OK).')
          = succeed _('This') do
            %br/
          = _('is displayed on the left side of the portals.')
        = text_area :local, 'left_box', :class => 'ckeditor'

    .control-group
      %label.control-label{ :for => 'local' }= _('Guide Left-Hand Box')
      .controls
        %p.muted
          = _('Add information into the left-hand side box of the guide and page templates (HTML|embed|object|param tags OK).')
          = succeed _('This') do
            %br/
          = _('is displayed at the top of the left side of the guides.')
        = text_area :local, 'guide_box', :class => 'ckeditor'

  %p
    &nbsp;

  %fieldset
    %legend= _('Names & Links')

    .control-group
      %label.control-label{ :for => 'local_logo_url' }= _('Portal Title : Course Guides')
      .controls
        %p.muted
          = _('The page title for the') + ' '
          = link_to _("course guide's portal"), course_pages_path
        = text_field :local, 'ica_page_title', class: 'input-xlarge'

    .control-group
      %label.control-label{ :for => 'local_logo_url' }= _('Portal Title : Subject Guides')
      .controls
        %p.muted
          = _('The page title for the') + ' '
          = link_to _("subject guide's portal"), subject_guides_path
        = text_field :local, 'guide_page_title', class: 'input-xlarge'

    .control-group
      %label.control-label{ :for => 'local_logo_url' }= _('Library Name &amp; URL')
      .controls
        %p.muted
          = _('Add your library name (i.e: OSU Libraries, Penn libraries) and home page URL.')
          = succeed _('This') do
            %br/
          = _('is displayed in the header as links and in the metadata tags.')
        = text_field :local, 'lib_name'
        = text_field :local, 'lib_url'

    .control-group
      %label.control-label{ :for => 'local_logo_url' }= _('University Name &amp; URL')
      .controls
        %p.muted
          = _("Add your organization's name (i.e: OSU, Penn State) and home page URL.")
          = succeed _('This') do
            %br/
          = _('is displayed in the header as links and in the metadata tags.')
        = text_field :local, 'univ_name'
        = text_field :local, 'univ_url'

    %p
      &nbsp;

  %fieldset
    %legend= _('Local Styles & Settings')

    .control-group
      %label.control-label{ :for => 'user_email' }= _('CSS Stylesheet URL')
      .controls
        %p.muted= _('Enter the url to a custom CSS stylesheet.')
        = text_field :local, 'styles', class: 'input-xlarge'

    .control-group
      %label.control-label{ :for => 'user_email' }= _('Custom Javascript URL')
      .controls
        %p.muted= _('Enter the url to a custom javascript file')
        = text_field :local, 'js_link', class: 'input-xlarge'

    .control-group
      %label.control-label{ :for => 'user_email' }= _('Analytics Snippet')
      .controls
        %p.muted
          = _('Enter a javascript snippet to track page views.')
          = succeed _('Note:') do
            %br/
          = _('The snippet will be included at the bottom of all the public templates.')
        = text_area :local, 'tracking', class: 'span10', :size => '63x10'

    .control-group
      %label.control-label{ :for => 'user_email' }= _('Metadata')
      .controls
        %p.muted
          = _('Enter any custom HTML to the head tag of all public templates.')
          %br/
          = _('Note: This is only for advanced admins. Errors added here could bring down the whole system.')
        = text_area :local, 'meta', class: 'span10', :size => '63x10'

    .control-group
      %label.control-label{ :for => 'user_email' }= _('Database Proxy')
      .controls
        %p.muted= _('Enter your proxy URL. Note: A proxy URL is required only if you have enabled the database module.')
        = text_field :local, 'proxy', class: 'input-xlarge'

  .control-group
    .controls
      = submit_tag _('Customize'), :class => 'btn btn-primary'
      = link_to _('Cancel'), tools_path, class: 'btn btn-cancel'
