%h1.page-header Customize Admin Email Addresses

= report_errors @local

= form_tag :action => 'customize_admin_email', :id => @local do
  .control-group
    %label.control-label{ :for => 'admin_email_to' }
      Enter the email address to which you want administrative emails sent.
    .controls
      = text_field 'local','admin_email_to', class: 'input-xlarge'
  .control-group
    %label.control-label{ :for => 'admin_email_from' }
      Enter the email address from which you want administrative emails sent.
    .controls
      = text_field 'local', 'admin_email_from', class: 'input-xlarge'
  .control-group
    .controls
      = submit_tag 'Customize', class: 'btn btn-primary'
      = link_to 'Cancel', tools_path, class: 'btn btn-cancel'
