%h1.page-header= _('Customize Search Engines')

= report_errors @local
= form_tag :action => 'customize_layout', :id => @local do

  %fieldset
    %legend= _('Local Search')
    .control-group
      %label.control-label{ :for => 'local_site_search' }= _('Library Site Search')
      .controls
        %p.muted= _('Enter the label for your library site search.')
        = text_field 'local', 'site_search_label', class: 'input-xlarge'
        %p.muted= _('Enter the code snippet for your library site search.')
        = text_area 'local','site_search', class: 'span10',  :size => '48x5'
    .control-group
      %label.control-label{ :for => 'local_book_search' }= _('Library Catalog Search')
      .controls
        %p.muted= _('Enter the label for your library catalog search.')
        = text_field 'local', 'book_search_label', class: 'input-xlarge'
        %p.muted= _("Enter the code snippet to search your library's catalog.")
        = text_area 'local','book_search', class: 'span10',  :size => '48x5'

  %p
    &nbsp;

  %fieldset
    %legend= _('Google Custom Search')
    %p.muted
      = raw _('Add a %{cse} google custom search engine to search alacarte guides and tutorials. See admin documentation for instructions.') %  { cse: '<a href="http://www.google.com/coop/cse" target="_blank">http://www.googel.com/coop/cse</a>' }
    .control-group
      %label.control-label{ :for => 'local_g_search' }= _('Search Box Code')
      .controls
        = text_area 'local','g_search', class: 'span10',  :size => '48x5'
        %p.muted= _('Paste in the search box code snippet from google.')
    .control-group
      %label.control-label{ :for => 'local_g_results' }= _('Search Results Code')
      .controls
        = text_area 'local','g_results', class: 'span10',  :size => '48x5'
        %p.muted= _('Paste in the search results code snippet from google.')

  .control-group
    .controls
      = submit_tag _('Customize'), class: 'btn btn-primary'
      = link_to _('Cancel'), tools_path, class: 'btn btn-cancel'
