%h1.page-header Customize Content Types

= report_errors @local

= form_tag :action => 'customize_layout', :id => @local do
  %fieldset
    %legend Guide Types
    .control-group
      .controls
        = select_tag 'local[guides][]', options_for_select(@guide_types, @selected_guides), { :multiple => true }
        %p.muted Select the types of guides authors can create. Admins will be able to create all types.

  %fieldset
    %legend Modules Types
    .control-group
      .controls
        = select_tag 'local[types][]', options_for_select(@types, @selected), { :multiple => true }
        %p.muted
          Select the module types authors can create. Admins will be able to create all module types.
          %br/
          Note: Some modules must be configured before they will be functional, see
          = alacarte_documentation 'this documentation'
          before enabling any new modules.

  = submit_tag 'Customize', class: 'btn btn-primary'
  = link_to 'Cancel', tools_path, class: 'btn btn-cancel'
