%fieldset
  %h3 Listing Pending Users
  - if flash[:notice]
    #error_wrapper
      #notice= flash[:notice]
  #product-list
    %table
      %tr{:class => cycle('list-line-odd', 'list-line-even'), :valign => "top"}
        %th Name
        %th Email
        %th Role
        %th Actions
      - for author in @users
        - if author.role == 'pending'
          %tr{:class => cycle('list-line-odd', 'list-line-even'), :valign => "top"}
            %td= h author.name
            %td= h author.email
            %td= h author.role
            %td
              = link_to 'Approve', {:action => 'approve', :id => author} , :confirm => 'Are you sure you want to approve this user?', :method => :post
              |
              \#{link_to 'Deny', { :action => 'deny', :id => author }, :confirm => 'Are you sure you want to deny this user?', :method => :post}
  = will_paginate @users
