%fieldset
  %h3
    Tutorials for #{h @user.name}
  - if flash[:notice]
    #error_wrapper
      #notice= flash[:notice]
  %p
    Total Tutorials: #{@count}
  #product-list
    %table
      %tr{:class => cycle('list-line-odd', 'list-line-even'), :valign => "top"}
        %th Title
        %th Last Update
        %th Published
        %th Actions
      - for tutorial in @tutorials
        %tr{:class => cycle('list-line-odd', 'list-line-even'), :valign => "top"}
          %td= link_to h(tutorial.full_name),{ :controller => "ort", :action => 'index', :id => tutorial}
          %td= h tutorial.updated_at
          %td= h tutorial.publish
          %td
            = link_to 'Assign', { :controller => "admin", :action => 'assign_tutorial', :id => tutorial}
            | #{link_to 'Archive', { :action => 'archive_tutorial', :id => tutorial}, :confirm => 'Are you sure you want to archive this tutorial?', :method => :post}
            | #{link_to 'Delete', { :controller => "admin", :action => 'destroy_tutorial', :id => tutorial}, :confirm => 'Are you sure you want to delete this tutorial?', :method => :post}
  %p
    %b= link_to 'Back to Users', :action => 'users'
