.row
  .container
    %h1.page-header= _('Customizations')

  .span6
    %h2 View
    %ul.unstyled
      %li= link_to _('Course Guide Template'), course_pages_path
      %li= link_to _('Subject Guide Template'), :controller => 'srg', :action => 'published_guides'

    %h2 Edit
    %ul.unstyled
      %li= link_to _('Template'), :controller => 'admin', :action => 'customize_layout'
      %li= link_to _('Admin Email Addresses'), :controller => 'admin', :action => 'customize_admin_email'

  .span5.well.well-small
    %dl.dl-horizontal
      - Local.content_columns.each do |column|
        - unless @local.send(column.name).blank? || column.human_name == 'Types'
          %dt #{ column.human_name }
          %dd #{ @local.send(column.name) }
