= error_messages_for 'master'

= form_for master, html: { class: 'form-inline' } do |f|
  = error_messages_for :master
  = f.text_field :value
  = f.submit class: 'btn btn-primary'
  = link_to 'Cancel', masters_path, class: 'btn btn-cancel'
