%h1 Listing Master Subjects
= flash_notice

= link_to new_master_path, class: 'btn btn-primary' do
  %i.icon-plus
  Create New Master Subject

%table.table.table-striped
  %thead
    %tr
      %th Master Subject Name
      %th Actions
  %tbody
    - @masters.each do |master|
      %tr
        %td= master.value
        %td
          = link_to '', edit_master_path(master), class: 'icon-edit'
          = link_to '', master_path(master), class: 'icon-trash', :confirm => 'Are you sure you want to delete this master?', :method => :delete

= will_paginate @masters
