%h1.page-header Listing Master Subjects

= awesome_button new_master_path, 'plus', 'Create new master subject', 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Master Subject Name
      %th Actions
  %tbody
    - @masters.each do |master|
      %tr
        %td= master.value
        %td
          = awesome_button edit_master_path(master), 'edit', 'Edit master subject'
          = link_to '', master_path(master), class: 'icon-trash', :confirm => 'Are you sure you want to delete this master?', :method => :delete

= will_paginate @masters
