- content_for :ada_navigation do
  = link_to 'Go to screenreader version' , { :action => 'mobile_archived' } , :id => 'alt-version'

- content_for :search_results do
  %h2 Browse Archived Course Guides

  - form_tag :action => 'archived' do
    %strong By department:
    .input-append
      %select{:id => 'subject', :name => 'subject'}
        %option{:value => '00', :selected => 'selected'} Select
        = options_from_collection_for_select(@subjects, 'id', 'subject_code', @subj.to_i)
      %button.btn{:type => 'submit'} Go
    - if @subj
      %small
        = link_to 'Show All Pages', :action => 'archived'

  %p
    - if @pages.size < 1
      %p
        Sorry there are no archived course guides for this department.
    - else
      - if @subject
        %p
          Course Guides for:
          %strong
            = @subject.subject_name
      = render :partial => 'shared/az_published_pages', :locals => { :controller => 'course_pages', :pages => @pages }

  %p
    Looking for a more recent course guide? Try the
    = link_to 'Current Course Pages', course_pages_path
    list.
  %p
    Need help with your discipline, topic or format? Try the
    = link_to "Subject Research Guides", subject_guides_path

- content_for :footer do
  = link_to 'Screenreader, print, & mobile version' , { :action => 'mobile_archived' } , :id => 'alt-version'

= render :partial => 'shared/published_page_results', :locals => { :header_title => 'Archived Course Guides' }
