%h1.page-header Listing Users

%p
  = awesome_button new_user_path, 'plus', 'Create new user', 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th Role
      %th Actions
      %th Guides
  %tbody
    - @users.each do |user|
      - unless user.role == 'pending'
        %tr
          %td= user.name
          %td= user.email
          %td= user.role
          %td
            = link_to '', edit_user_path(user), class: 'icon-edit'
            |
            = link_to '', user_path(user), class: 'icon-trash', method: :delete, confirm: 'Are you sure you want to delete this user?'
          %td
            = link_to 'Guides', :controller => :admin, :action => 'guides', :id => user
            |
            = link_to 'Pages', :controller => :admin, :action => 'pages', :id => user

= will_paginate @users
