%h1 Listing Pending Users
= flash_notice

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th Role
      %th Actions
  %tbody
    - @users.each do |user|
      - if user.role == 'pending'
        %tr
          %td= user.name
          %td= user.email
          %td= user.role
          %td
            = link_to 'Approve', approve_user_path(user) , :confirm => 'Are you sure you want to approve this user?', :method => :post
            |
            = link_to 'Deny', deny_user_path(author), :confirm => 'Are you sure you want to deny this user?', :method => :post

= will_paginate @users
