%table.table.table-striped
  %thead
    %tr
      %th Add
      %th Label
      %th
      %th Last Update
      %th Content Type
  %tbody
    - @mods.each do |mod|
      %tr
        %td
          - s = mod.id.to_s + mod.class.to_s
          = check_box_tag mod.id, mod.id, session[:add_mods].include?(s) , :onclick => "$.post('#{ add_mod_guide_tab_path @guide, @tab }', { mid1: #{ mod.id }, mid2: '#{ mod.class }' });"
        %td= truncate(mod.label, :length => 45)
        %td
          %i.icon-question-sign{ :data => { :content => "#{render_tooltip(mod)}", :html => 'true', :trigger => 'hover' } }
          = awesome_button module_path(mod, type: mod.class), 'external-link', 'Preview this module'
        %td= mod.updated_at.to_date
        %td= mod.content_type

= will_paginate @mods

:javascript
  $('.icon-question-sign').popover();
