%h2 Browse #{ type } by Tag

%p
  #{ type } tagged with:
  %span.label= tag

- if pages.present?
  - pages.each do |page|
    %dl= render :partial => 'shared/list_page', :locals => { :page => page }
- else
  %p Sorry, no #{ type } found.

%p
  %i.icon-circle-arrow-left.icon-large
  = link_to "Back to all #{ type }", action: :published_guides
