      <div id="submit_button">
  <%= submit_tag 'Update', :class => "submit"  %>
  <p><%= link_to 'Cancel', :action => 'edit',:id => @page %></p>
      </div>
      <%end%>
    </div>

    <div id="share_right">
      <br />
      <div id="boxes">
  <div class="item">
    <div class ="item2">
      <h2>Related Subject Guides</h2>
      <div id="suggestions" class="module">
        <%if @relateds.length < 1%>
       <p><b>This page has no related guides.</b></p>
       <%else%>
       <ul class="undeco no_indent">
         <%@relateds.each do |guide|%>
         <%guide_url = url_for :controller => 'srg', :action => 'index', :id => guide%>
        <li>
    <%= link_to h(guide.guide_name), guide_url, :title => "#{h(guide.description)}", :popup => ['', 'height=800,width=980,toolbar=yes, scrollbars =yes,resizable=yes'] %>
    <%= link_to image_tag("icons/remove.png", :title => 'Remove from related guides list', :alt => 'remove', :border => 0), { :action => 'remove_related', :gid => guide.id}, :confirm => 'Are you sure you want to remove this guide from the related guides list?', :method => :post %>
        </li>
        <%end %>
</ul>
<%end%>
</div>
<div class="bot"><div></div></div>
</div>
</div>
</div>
</div>

<br style="clear: both" />

<%=render :partial => 'side_bar'%>
