<div class="container">
  <div class="row">

    <!-- left sidebar -->
    <div class="span4">
      <%= render :partial => "shared/left_side_bar",
                 :locals => { :index_description => index_description } %>
    </div>

    <!-- main content -->
    <div class="span8">
      <h1><%= header_title %></h1>

      <% if @tabs.length > 1 %>
      <div>
        <ul class="nav nav-tabs">
          <% for tab in @tabs %>
          <% @tab_url = url_for :controller => index_controller,
                                :action => "index",
                                :id => index,
                                :tab => tab.id %>
            <% if tab.id == @tab.id %>
            <li class="active">
              <a href="#tab-content"><span><%= tab.tab_name %></span></a>
            </li>
            <% else %>
            <li>
              <a href ="<%= @tab_url %>"><span><%= tab.tab_name %></span></a>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div id="tab-content">
        <% unless @mods %>
          <%= render :partial => "shared/two_column" %>
        <% else %>
          <%= render :partial => "shared/one_column" %>
        <% end %>

        <%= render :partial => "metadata" %>
      </div>
    </div> <!-- end main content -->
  </div> <!-- end row -->
</div> <!-- end container -->
