<h2><%=h @mod.module_title%></h2>

<p>
  <dl class="dl-horizontal">
    <%unless @mod.instructor_name.blank?%>
    <dt>Name</dt>
    <dd>
      <%=h @mod.instructor_name%>
    </dd>
    <%end%>
    <%unless @mod.office_location.blank? %>
    <dt>Office</dt>
    <dd>
      <%=h @mod.office_location%>
    </dd>
    <%end%>
    <%unless @mod.office_hours.blank? %>
    <dt>Office Hours</dt>
    <dd>
      <%=h @mod.office_hours%>
    </dd>
    <%end%>
    <% unless @mod.website.blank? and @mod.email.blank?%>
    <dt>Contact</dt>
    <dd>
      <% unless @mod.email.blank?%>
        <%=mail_to @mod.email, nil, :encode => "javascript"%> <br />
      <%end%>
      <% unless @mod.website.blank?%>
        <a href="<%=h @mod.website%>">Instructor's Website</a>
      <%end%>
    </dd>
    <%end%>
  </dl>
</p>
