<ul class="naw nav-list docs-sidenav">
  <% @mods.each do |mod| %>
    <li>
      <a href="#topic_<%= mod.id %>">
        <i class="icon-chevron-right"></i>
        <%= mod.module_title %>
      </a>
    </li>
  <% end %>
</ul>
<br/>
<br/>

<!-- local customization -->
<% unless @local.guide_box.blank? %>
  <div class="well well-small">
    <%= raw @local.guide_box %>
  </div>
<%end%>

<!-- Contact Modules -->
<% if @mod %>
  <div class="well well-small">
    <%= show_mod(@mod) %>
  </div>
<%end%>

<!-- Guide/Page Description -->
<% unless index_description.blank? %>
  <div class="well well-small">
    <h4>About this Guide</h4>
    <%= index_description %>
  </div>
<%end%>

<!-- Related Guides -->
<% if @local.guides_list.include?("guides") and @related_guides %>
  <div id="related-guides" class="accordion grey">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle"
           data-toggle="collapse"
           data-parent="related-guides"
           href="#guide-list">
          <h4>Related Guides</h4></a>
      </div> <!-- end accordion-heading -->

      <div id="guide-list" class="accordion-body collapse">
        <div class="accordion-inner">
          <ul class="unstyled">
            <% @related_guides.each do |guide| %>
              <% guide_url = url_for :controller => "srg",
                                     :action => "index",
                                     :id => guide %>
              <li>
                <%= link_to h(guide.guide_name), guide_url, :title => "#{h(guide.description)}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div> <!-- end accordion-body -->
    </div> <!-- end accordion-group -->

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" href="/subject-guides/">
          <h4><%= @local.guide_page_title %></h4></a>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" href="/course-guides/">
          <h4><%= @local.ica_page_title %></h4></a>
      </div>
    </div> <!-- end accordion-group -->
  </div> <!-- end accordion -->
<% end %>

<!-- Related Course Pages -->
<% if @local.guides_list.include?('pages') and @related_pages  %>
  <div class="well well-small">
    <h4>
      <div class="expandable">
        <span id="guide2-title">
          <%= image_tag "open.png", :alt => "click to close" %>
        </span>
        Related Course Guides
      </div>
    </h4>

    <div id="guide2" class="guide_list">
      <ul class="unstyled">
          <% @related_pages.each do |page| %>
            <% page_url = url_for :controller => "ica",
                                  :action => "index",
                                  :id => page %>
            <li>
              <%= link_to h(page.header_title), page_url, :title => "#{h(page.page_description)}" %>
            </li>
          <% end %>
      </ul>
    </div>

    <ul class="unstyled">
      <li>
        <a href="/course-guides/"><%= @local.ica_page_title %> </a>
      </li>
    </ul>
  </div>
<% end %>

<!-- Social -->
<ul class="inline">
  <li>
    <% if @owner %>
      <%= image_tag "icons/comment.png", :alt => "Email Guide Owner" %>
      <%= mail_to @owner.email, "Comments?", :encode => "javascript" %>
    <% end %>
  </li>
  <li>
    <%= image_tag "icons/rss.png", :alt => "Subcribe to RSS" %>
    <%= link_to "RSS" , :action => "feed", :id => @page %>
  </li>
  <li>
    <!-- AddThis Bookmark Button BEGIN -->
    <%= image_tag "icons/add_big.png", :alt => "add to bookmark" %>
    <a href="http://www.addthis.com/bookmark.php" onclick="window.open('http://www.addthis.com/bookmark.php?pub=K5BL6TCHWBD1PZUI&amp;url='+encodeURIComponent(location.href)+'&amp;title='+encodeURIComponent(document.title), 'addthis', 'scrollbars=yes,menubar=no,width=620,height=520,resizable=yes,toolbar=no,location=no,status=no'); return false;" title="Bookmark using any bookmark manager!">Bookmark</a>
    <!-- AddThis Bookmark Button END -->
  </li>
</ul>
