- if @mod
  #left-sidebar-module= render partial: 'shared/view_mod', locals: { mod: @mod }

-unless @local.guide_box.blank?
  #left-guide-box.well.well-small= @local.guide_box.html_safe

.page-left-sidebar
  - if @mods.present?
    %ul.nav.nav-list.page-sidenav
      - @mods.each do |mod|
        %li
          %a{:href => "#topic_#{ mod.id }"}
            %i.icon-chevron-right
            = mod.module_title.html_safe

  #related-guides.accordion
    - if defined?(@related_guides) and @related_guides.length > 0
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{:href => "#guide-list", :data => {:toggle => 'collapse', :parent => 'related-guides'}}
            %i.icon-chevron-down
            Related Subject Guides
        #guide-list.accordion-body.collapse
          .accordion-inner
            %ul
              - @related_guides.each do |guide|
                - guide_url = url_for :controller => 'srg', :action => :show, :id => guide
                %li= link_to raw(guide.guide_name), guide_url, :title => "#{ raw guide.description }"
    - if defined?(@related_pages) and @related_pages.length > 0
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{:href => "#page-list", :data => {:toggle => 'collapse', :parent => 'related-pages'}}
            %i.icon-chevron-down
            Related Course Guides
      #page-list.accordion-body.collapse
        .accordion-inner
          %ul
            - @related_pages.each do |page|
              - page_url = course_page_url page
              %li= link_to raw(page.header_title), page_url, title: "#{ raw page.page_description }"
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{:href => subject_guides_path}
          = @local.guide_page_title.html_safe
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{:href => course_pages_path}
          = @local.ica_page_title.html_safe

  = render 'shared/social'

:javascript
  (function($) {
    'use strict';

    var $element = $('.page-left-sidebar');

    function checkPosition() {
      var offsetTop =
        $('#header').outerHeight(true) +
        $('#page-header').outerHeight(true) +
        $('.page-sidebar').outerHeight(true);
      var elementHeight = $element.outerHeight(true);
      var offsetBottom = $('.footer').outerHeight(true);
      var scrollTop = $(window).scrollTop();
      var scrollHeight = $(document).height();

      if (offsetTop + elementHeight + offsetBottom >= scrollHeight) {
        // The sidebar is already longer than the body.
        return;
      }

      var pos = Math.max(offsetTop, scrollTop) + 15;
      var top = Math.min(pos, scrollHeight - elementHeight - offsetBottom);
      top = Math.max(top, offsetTop);
      $element.css({ position: 'absolute', top: top });
    }

    $(window).on('scroll', checkPosition);

    setTimeout(function () {
      $("[data-toggle='tooltip']").tooltip();
    }, 0);
  })(window.jQuery);
