<% content_for :tab_headings do %>
  <% if @tabs.length > 1 %>
    <ul class="nav nav-tabs">
      <% for tab in @tabs %>
        <% @tab_url = url_for :controller => index_controller,
                              :action => "index",
                              :id => index,
                              :tab => tab.id %>
        <% if tab.id == @tab.id %>
          <li class="active">
            <a href="#tab-content"><span><%= tab.tab_name %></span></a>
          </li>
        <% else %>
          <li>
            <a href ="<%= @tab_url %>"><span><%= tab.tab_name %></span></a>
          </li>
        <% end %>
      <% end %>
    </ul> <!-- end nav-tabs -->
  <% end %>
<% end %>

<% content_for :tab_content do %>
  <div class="container">
    <div class="row">
      <!-- left sidebar -->
      <div class="span4">
        <%= render :partial => "shared/page_left_sidebar",
                   :locals => { :index_description => index_description } %>
      </div>

      <!-- main content -->
      <div class="span8">
        <% unless @mods %>
          <%= render :partial => "shared/two_column" %>
        <% else %>
          <%= render :partial => "shared/one_column" %>
        <% end %>

        <%= render :partial => "shared/metadata",
                   :locals => { :tag_list => index.tag_list } %>
      </div> <!-- end main content -->
    </div> <!-- end row -->
  </div> <!-- end container -->
<% end %>

<%= render :partial => "shared/tabbed_index",
           :locals => { :header_title => header_title } %>
