- if @mod
  #left-sidebar-module= render partial: 'shared/view_mod', locals: { mod: @mod }

-unless @local.guide_box.blank?
  #left-guide-box.well.well-small= @local.guide_box.html_safe

.page-left-sidebar
  - if @mods.present?
    %ul.nav.nav-list.page-sidenav
      - @mods.each do |mod|
        %li
          %a{:href => "#topic_#{ mod.class.to_s.downcase }_#{ mod.id }"}
            %i.icon-chevron-right
            = mod.module_title.html_safe

  #related-guides.accordion
    - if @local.guides_list.include?('guides') and defined?(@related_guides) and @related_guides.length > 0
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{:href => "#guide-list", :data => {:toggle => 'collapse', :parent => 'related-guides'}}
            %i.icon-chevron-down
            Related Subject Guides
        #guide-list.accordion-body.collapse
          .accordion-inner
            %ul
              - @related_guides.each do |guide|
                - guide_url = url_for :controller => 'srg', :action => :show, :id => guide
                %li= link_to raw(guide.guide_name), guide_url, :title => "#{ raw guide.description }"
    - if @local.guides_list.include?('pages') and defined?(@related_pages) and @related_pages.length > 0
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{:href => "#page-list", :data => {:toggle => 'collapse', :parent => 'related-pages'}}
            %i.icon-chevron-down
            Related Course Guides
      #page-list.accordion-body.collapse
        .accordion-inner
          %ul
            - @related_pages.each do |page|
              - page_url = url_for :controller => 'ica', :action => :show, :id => page
              %li= link_to raw(page.header_title), page_url, title: "#{ raw page.page_description }"
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{:href => subject_guides_path}
          = @local.guide_page_title.html_safe
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{:href => course_guides_path}
          = @local.ica_page_title.html_safe

  = render 'shared/social'

:javascript
  (function($) {
    'use strict';

    var $element = $('.page-left-sidebar');

    function checkPosition() {
      var offsetTop = $('#header').outerHeight(true) +
        $('#page-header').outerHeight(true) +
        $('#left-sidebar-module').outerHeight(true) +
        $('#left-guide-box').outerHeight(true);
      var offsetBottom = $('.footer').outerHeight(true);
      var position = $element.offset();
      var scrollHeight = $(document).height();
      var scrollTop = $(window).scrollTop();

      var top = position.top;
      if (scrollTop >= offsetTop) {
        top = scrollTop + 15;
      } else if ($element.prev()) {
        top = $element.prev().offset().top + $element.prev().outerHeight(true) + 15;
      }

      if (top + $element.outerHeight(true) >= scrollHeight - offsetBottom) {
        top = scrollHeight - offsetBottom - $element.outerHeight(true);
      }

      if (top) {
        $element.css({ position: 'absolute', top: top });
      } else {
        $element.css({ position: '', top: '' });
      }
    }

    $(window).on('scroll', checkPosition);

    setTimeout(function () {
      $("[data-toggle='tooltip']").tooltip();
    }, 0);
  })(window.jQuery);
