<% content_for :search_results do %>
  <h2>Browse <%= type %> Guides</h2>

  <div id="browse_by">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#subjects" data-toggle="tab">Browse by Subjects</a>
      </li>
      <li>
        <a href="#az" data-toggle="tab">Browse by A-Z</a>
      </li>
      <%= yield :extra_browse_tabs %>
    </ul>
  </div>

  <div class="tab-content">
    <div id="subjects" class="tab-pane active">
      <div id="by-subjects" class="accordion">
        <% subjects.each_with_index do |m, i| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle"
                 data-toggle="collapse"
                 data-parent="#by-subjects"
                 href="#subject<%= i %>">
                <strong>
                  <% if controller == "ica" %>
                    <%= raw m.subject_code%> : <%= raw m.subject_name %>
                  <% else %>
                    <%= raw m.value %>
                  <% end %>
                </strong>
              </a>
            </div> <!-- end accordion-heading -->

            <div id="subject<%= i %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <% if controller == "ica" and m.get_pages %>
                  <ul class="unstyled">
                    <li>
                      <% @pubpages = m.get_pages
                         @pubpages.each do |page|
                         page_url = url_for :controller => controller, :action => "index", :id => page %>
                        <ul class="unstyled">
                          <li>
                          <%= link_to page.browse_title(m.subject_code, @campushash), page_url, :title => "#{raw page.page_description}" %>
                          </li>
                        </ul>
                      <% end %>
                    </li>
                  </ul>
                <% end %>

                <% if controller == "srg" and m.pub_guides %>
                  <ul class="unstyled">
                    <li>
                      <% @pubpages = m.pub_guides
                         @pubpages.each do |page|
                         page_url = url_for :controller => controller, :action => "index", :id => page %>
                        <ul class="unstyled">
                          <li>
                            <%= link_to page.guide_name,
                                        page_url,
                                        :title => "#{raw page.description}" %>
                          </li>
                        </ul>
                      <% end %>
                    </li>
                  </ul>
                <% end %>
              </div> <!-- end accordion inner -->
            </div> <!-- end accordion body -->
          </div> <!-- end accordion group -->
        <% end %>
      </div> <!-- end accordion -->
    </div> <!-- end subjects tabcontent -->

    <div id="az" class="tab-pane">
      <noscript>
        <p><strong><a name="az">Guides by A-Z</a></strong></p>
      </noscript>

      <% pages.each do |page| %>
        <% page_url = url_for :controller => controller,
                              :action => "index",
                              :id => page %>
        <ul class="unstyled">
          <li>
            <% if controller == "ica" %>
              <%= link_to page.search_title,
                          page_url,
                          :title => "#{raw page.page_description}" %>
            <% else %>
              <%= link_to page.guide_name,
                          page_url,
                          :title => "#{raw page.description}" %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div> <!-- end az tabcontent -->
  </div>

  <%= yield :additional_resources %>
<% end %>

<%= render :partial => "shared/published_page_results",
           :locals => { :header_title => header_title } %>
