<% content_for :search_results do %>
  <h2>Browse <%= type %> Guides</h2>

  <div id="browse_by">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#subjects" data-toggle="tab">Browse by Subjects</a>
      </li>
      <li>
        <a href="#az" data-toggle="tab">Browse by A-Z</a>
      </li>
      <%= yield :extra_browse_tabs %>
    </ul>
  </div>

  <div class="tab-content">
    <div id="subjects" class="tab-pane active">
      <div id="by-subjects" class="accordion">
        <% subjects.each_with_index do |m, i| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle"
                 data-toggle="collapse"
                 data-parent="#by-subjects"
                 href="#subject<%= i %>">
                <strong>
                  <% if controller == "ica" %>
                    <%= raw m.subject_code%> : <%= raw m.subject_name %>
                  <% else %>
                    <%= raw m.value %>
                  <% end %>
                </strong>
              </a>
            </div> <!-- end accordion-heading -->

            <div id="subject<%= i %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <% if controller == "ica" and m.get_pages %>
                  <%= render :partial => "shared/az_published_pages",
                             :locals => { :controller => controller,
                                          :pages => m.get_pages,
                                          :subject_code => m.subject_code,
                                          :campus_hash => @campushash} %>
                <% end %>
                <% if controller == "srg" and m.pub_guides %>
                  <%= render :partial => "shared/az_published_pages",
                             :locals => { :controller => controller,
                                          :pages => m.pub_guides } %>
                <% end %>
              </div> <!-- end accordion inner -->
            </div> <!-- end accordion body -->
          </div> <!-- end accordion group -->
        <% end %>
      </div> <!-- end accordion -->
    </div> <!-- end subjects tabcontent -->

    <div id="az" class="tab-pane">
      <%= render :partial => "shared/az_published_pages",
                 :locals => { :pages => pages,
                              :controller => controller } %>
    </div> <!-- end az tabcontent -->
  </div>

  <%= yield :additional_resources %>
<% end %>

<%= render :partial => "shared/published_page_results",
           :locals => { :header_title => header_title } %>
