<% content_for :tab_headings do %>
  <li class="active">
    <a href="#subjects" data-toggle="tab">Browse by Subjects</a>
  </li>
  <li>
    <a href="#az" data-toggle="tab">Browse by A-Z</a>
  </li>
  <%= yield :extra_browse_tabs %>
<% end %>

<% content_for :tab_content do %>
  <div id="subjects" class="tab-pane active">
    <div class="container">
      <div class="row">
        <!-- main content -->
        <div class="span8">
          <div id="by-subjects" class="accordion">
            <% subjects.each_with_index do |m, i| %>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle"
                     data-toggle="collapse"
                     data-parent="#by-subjects"
                     href="#subject<%= i %>">
                    <strong>
                      <% if controller == "ica" %>
                        <%= raw m.subject_code%> : <%= raw m.subject_name %>
                      <% else %>
                        <%= raw m.value %>
                      <% end %>
                    </strong>
                  </a>
                </div> <!-- end accordion-heading -->

                <div id="subject<%= i %>" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <% if controller == "ica" and m.get_pages %>
                      <%= render :partial => "shared/az_published_pages",
                                 :locals => { :controller => controller,
                                              :pages => m.get_pages,
                                              :subject_code => m.subject_code,
                                              :campus_hash => @campushash } %>
                    <% end %>
                    <% if controller == "srg" and m.pub_guides %>
                      <%= render :partial => "shared/az_published_pages",
                                 :locals => { :controller => controller,
                                              :pages => m.pub_guides } %>
                    <% end %>
                  </div> <!-- end accordion inner -->
                </div> <!-- end accordion body -->
              </div> <!-- end accordion group -->
            <% end %>
          </div> <!-- end accordion -->
          <%= yield :additional_resources %>
        </div> <!-- end main content -->

        <div class="span4">
          <%= render :partial => "shared/right_sidebar" %>
        </div> <!-- end right sidebar -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end subjects tabcontent -->

  <div id="az" class="tab-pane">
    <div class="container">
      <div class="row">
        <!-- main content -->
        <div class="span8">
          <%= render :partial => "shared/az_published_pages",
                     :locals => { :pages => pages,
                                  :controller => controller } %>
          <%= yield :additional_resources %>
        </div>

        <div class="span4">
          <%= render :partial => "shared/right_sidebar" %>
        </div> <!-- end right sidebar -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end subjects tabcontent -->
  </div> <!-- end az tabcontent -->
<% end %>

<%= render :partial => "shared/tabbed_index",
           :locals => { :header_title => header_title } %>
