<% unless @local.book_search.blank? and @local.site_search.blank? and @local.g_search.blank?%>
<div class="well well-small white">
  <div id="search">
    <ul class="nav nav-tabs">
      <% unless @local.g_search.blank? %>
      <li class="active">
        <a href="#guides" data-toggle="tab">Guides</a>
      </li>
      <%end%>
      <% unless @local.book_search.blank? %>
      <li>
        <a href="#books" data-toggle="tab">Books</a>
      </li>
      <%end%>
      <% unless @local.site_search.blank? %>
      <li>
        <a href="#library" data-toggle="tab">Library</a>
      </li>
      <%end%>
    </ul>
  </div>

  <div class="tab-content">
    <% unless @local.g_search.blank? %>
      <div id="guides" class="tab-pane active">
        <label class="text-center">Search Library Guides</label>
        <%= raw @local.g_search%>
      </div>
    <%end%>

    <% unless @local.book_search.blank? %>
      <div id="books" class="tab-pane">
        <label class="text-center"><%= @local.book_search_label %></label>
        <%= raw @local.book_search %>
      </div>
    <%end%>

    <% unless @local.site_search.blank?%>
      <div id="library" class="tab-pane">
        <label class="text-center"><%= @local.site_search_label %></label>
        <%= raw @local.site_search %>
      </div>
    <%end%>
  </div>
</div>
<% end %>

<% unless @local.right_box.blank? %>
<div class="well well-small">
    <%= raw @local.right_box %>
  </div>
<% end %>

<div class="well well-small tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#all" data-toggle="tab">About</a></li>
    <li><a href="#students" data-toggle="tab">Students</a></li>
    <li><a href="#teachers" data-toggle="tab">Instructors</a></li>
    <li><a href="#librarians" data-toggle="tab">Librarians</a></li>
  </ul>

  <div class="tab-content">
    <div id="all" class="tab-pane active">
      <p>
        Library guides and tutorials suggest tips and search strategies for finding and using information in a course, discipline, topic or format.
      </p>
    </div>

    <div id="students" class="tab-pane">
      <p>
        Guides help you do university-level research
        in an academic discipline or course assignment.
      </p>
      <p>
        Revisit to find new resources, related guides or learn about other
        disciplines.
      </p>
    </div>

    <div id="teachers" class="tab-pane">
      <p>
        Librarians can create guides to help students find resources, including discipline specific article databases, core journals, scholarly reference works and key web sites important to your field or course.
        <% unless @local.lib_url.blank?%>
          <p>
            <a href="<%=@local.lib_url%>">Contact a Librarian</a>
            if you would like something tailored for your specific subject or assignment.
          </p>
        <%end%>
      </p>
    </div>

    <div id="librarians" class="tab-pane">
      <p>
        These Guides are created with
        <a href="http://alacarte.library.oregonstate.edu">Library &agrave; la Carte</a>,
        an open source tool which helps you quickly and easily create subject and course guides.
      </p>
    </div>
  </div>
</div>

<% if @tags %>
<div class="well well-small">
  <%= render :partial => '/shared/tag_cloud'%>
</div>
<% end %>
