.container
  .container#page-header
    %h1.page-header
      = header_title

  .container
    .row
      = yield :left_sidebar

      .span8
        = yield :tab_headings
        .tab-content
          = yield :tab_content

      = yield :right_sidebar


:javascript
  setTimeout(function () {
    $('#page-header').affix({
      offset: {
        top: function () { return $('#header').height(); },
        bottom: 250
      }
    })}, 100);
