<% content_for :search_results do %>
  <h2>Browse by Tag</h2>

  <p>
    <%= type %> tagged with: <span class="label"><%= @tag %></span>
  </p>

  <% if @pages %>
    <% for page in @pages %>
      <dl>
        <%= render :partial "shared/list_page",
                   :locals => { :page => page,
                                :controller => controller } %>
      </dl>
    <% end %>
  <% else %>
    <p>
      Sorry, no <%= type %> found.
    </p>
  <% end %>

  <p>
    <%= image_tag("icons/back.png", :title => "Back to " + type, :alt => "Back") %>
    <a href ="/<%= type_url %>/">Back to all <%= type %></a>
  </p>
<% end %>

<%= render :partial => "shared/published_page_results",
           :locals => { :header_title => header_title } %>
