%div{ :style => 'position:absolute; top:-1000px;' }
  = yield :ada_navigation
  %a{ :href => '#skip', :id => 'skipNav', :title => 'Skip Navigation and Jump to Content'}
    Jump to Content

#header.navbar
  .container
    #logo
      - unless @local.image_map.blank?
        %a{:href => "#{@local.image_map}"}

    %ul.nav.pull-right
      - unless @local.lib_name.blank? || @local.lib_url.blank?
        %li
          %a{:href => "#{@local.lib_url}"}
            = @local.lib_name
      - unless @local.univ_name.blank? || @local.univ_url.blank?
        %li
          %a{:href => "#{@local.univ_url}"}
            = @local.univ_name
