.row
  .span2= render 'side_bar'

  .span10
    %h1.page-header= @header_name

    %ul#tabs.nav.nav-tabs.unstyled{ 'data-reorder' => polymorphic_path([@parent], action: :sort_tabs) }
      - @tabs.each do |tab|
        - if tab.id == @tab.id
          %li.active{ :id => "tab_#{ tab.id }" }
            = link_to polymorphic_path([@item, tab], action: :add_modules) do
              %i.icon-move
              = tab.tab_name
        - else
          %li{ :id => "tab_#{ tab.id }" }
            = link_to [@item, tab] do
              %i.icon-move
              = tab.tab_name
      %li
        = link_to polymorphic_path([@item, :tab], action: :new), :title => 'Add new tab' do
          %i.icon-plus

    .tab-content
      .tab-pane.active
        .btn-toolbar
          .btn-group
            = link_to '', polymorphic_path([@item, @tab], action: :toggle_columns), method: :post, class: 'btn icon-columns', title: 'Toggle columns'
            = link_to '', polymorphic_path([@item, @tab], action: :delete), method: :post, class: 'btn btn-danger icon-trash', title: 'Delete this module', confirm: 'Are you sure you want to delete this tab?'
        - if @mods
          = render :partial => 'tabs/column', :locals => { :mods => @mods }
        - else
          .span4
            = render :partial => 'tabs/column', :locals => { :mods => @mods_left }
          .span4
            = render :partial => 'tabs/column', :locals => { :mods => @mods_right }