<%= render 'shared/mod_list' %>
<div id ="second_tabs">
  <ul id="second_tabs">
    <li class = "<%= @globcurrent %>"> <%= link_to "Global Modules" , :controller => 'module', :action => 'index', :sort => 'name', :list => 'global'%></li>
    <li class = "<%= @tgcurrent %>"> <%= link_to "Browse By Tags" , :controller => 'tagged', :action => 'index', :sort => 'name'%></li>
    <li  class = "<%= @mycurrent %>"><%= link_to "My Modules" , :controller => 'module', :action => 'index', :sort => 'name', :list => 'mine'%></li>
    <% if @list == 'mine' %><li class = "<%= @mycurrent %>">
      <%= form_tag :controller => 'search', :action => 'index' do%>
      <%= text_field 'mod', 'search',"size" => 35 ,
      :style => "color:#aaa;",
      :value => @search_value,
      :onfocus => "if(this.getValue()=='#{@search_value}'){this.clear();this.style.color = '#000';}",
      :onblur => "if(this.getValue()==''){this.setValue('#{@search_value}');this.style.color = '#aaa';}"
      %>
      <%= submit_tag 'Go' %>
      <%end%>
    </li><% end %>
    <li class="pagination">
      <%if !@all and @mods.total_pages > 1%>
      <%= will_paginate @mods, :params => params.merge({:sort=> @sort}).except(:authenticity_token), :page_links => false %>
      <%end%>
    </li>
  </ul>
</div>
<div class="clearer"></div>
<div id="product-list">
  <div id="table">
    <%=render :partial => "tag_list"%>
  </div>
</div>


</div>
