= render 'shared/mod_list'
#second_tabs
  %ul#second_tabs
    %li{:class => @globcurrent}
      = link_to "Global Modules" , :controller => 'module', :action => 'index', :sort => 'name', :list => 'global'
    %li{:class => @tgcurrent}
      = link_to "Browse By Tags" , :controller => 'tagged', :action => 'index', :sort => 'name'
    %li{:class => @mycurrent}= link_to "My Modules" , :controller => 'module', :action => 'index', :sort => 'name', :list => 'mine'
    - if @list == 'mine'
      %li{:class => @mycurrent}
        = form_tag :controller => 'search', :action => 'index' do
          = text_field 'mod', 'search',"size" => 35 ,                                                          |
            :style => "color:#aaa;",                                                                           |
            :value => @search_value,                                                                           |
            :onfocus => "if(this.getValue()=='#{@search_value}'){this.clear();this.style.color = '#000';}",    |
            :onblur => "if(this.getValue()==''){this.setValue('#{@search_value}');this.style.color = '#aaa';}" |
          = submit_tag 'Go'
    %li.pagination
      - if !@all and @mods.total_pages > 1
        = will_paginate @mods, :params => params.merge({:sort=> @sort}).except(:authenticity_token), :page_links => false
.clearer
#product-list
  #table
    = render :partial => "tag_list"
