- unless book.image_id.blank?
  %span.gbs-thumbnail.gbs-remove-on-failure{:title => "ISBN:#{book.image_id}"}
  %span.gbs-thumbnail.gbs-remove-on-failure{:title => "OCLC:#{book.image_id}"}
%span.book_info
  - if !book.catalog_results.blank?
    - book.catalog_results.each do |r|
      .results
        %span.item_title
          %a{:href => r[:url]}= r[:title]
        - if !r[:author].blank?
          %span.call_num
            Author: #{r[:author]}
        - if book.location == true
          %span.call_num
            Call #: #{r[:availability]}
  - else
    - if !book.url.blank? and !(book.url == "http://")
      %a{:href => book.url}= book.label.blank? ? h(book.url) : h(book.label)
    - elsif !book.label.blank?
      = h(book.label)
  - unless book.description.blank?
    = book.description
  - if !book.image_id.blank?
    %span.gbs-link-to-preview.gbs-if-partial-or-full.gbs-remove-on-failure{:title => "ISBN:#{book.image_id}"} Read at Google
    %span.gbs-link-to-preview.gbs-if-partial-or-full.gbs-remove-on-failure{:title => "OCLC:#{book.image_id}"} Read at Google
%br/
