%fieldset
  = render :partial => '/module/edit_top'
  - if flash[:error]
    #error_wrapper
      #list_error= flash[:error]
  = error_messages_for 'mod'
  = form_tag({:controller => 'book', :action => 'update_book', :id => @mod} , {:multipart => true, :onKeyPress=> 'return disableEnterKey(event)' })  do
    = render :partial => '/module/mod_title'
    %label{:for => "mod_info"}
      General Information
      %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(BOOK_INFO_MSSG, this, event, '');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
    = text_area 'mod', 'information',:class => "tinymce"
    = tinymce
    #books
      = render :partial => '/book/book', :collection => @mod.books
    = sortable_element 'books',                                |
          :url => {:controller => 'book' ,:action => "sort" }, |
      :complete => visual_effect(:highlight, 'books'),         |
      :handle => 'handle',                                     |
      :containment => ['books'],                               |
      :constraint => false,                                    |
      :tag => :div                                             |
    %label
      = link_to_function image_tag("icons/add.png", :title => 'Click to add an link', :alt => '', :border => 0)+" Add Book by URL" do |page| |
        page.insert_html :bottom, :books, :partial => 'book/book', :object => Book.new                                                       |
        end                                                                                                                                  |
    #videos
      %fieldset
        #page_title
          %label.form_float{:for => "mod_title"}
            Search Catalog
            \#{text_field_tag 'query', ''}
          %label.form_float{:for => "button"}
            = button_to_function("Search",                                                                                                                         |
              remote_function(:update => "search_list", :loading => "Element.show('search_spinner_search')", :complete => "Element.hide('search_spinner_search')", |
              :url => {:controller => :book, :action => 'search_book', :id =>@mod}, :submit =>'page_title'))                                                       |
          = image_tag "spinner.gif", :id => "search_spinner_search", :class => 'image', :alt => "Spinner", :style => 'display:none;'
          .clearer
        #search_list
          - if @results
            = render :partial => "book/catalog_title", :locals => {:results => @results, :mod => @mod} and return
    #submit_button
      = submit_tag 'Save Module', :class => "submit"
      %p
        = link_to 'Cancel', :controller => 'module', :action => 'index',:id => @mod, :type =>@mod.class, :list => 'mine', :sort => 'name'
