- if @page.present?
  = render :partial => 'page/side_bar'
  %h3.title
    = render :partial => '/page/title_actions'
  %h4
    = link_to "Edit Page", :controller => 'page' , :action =>'edit', :id => @page
    >> Edit #{@mod.module_title}
- elsif @guide.present?
  = render :partial => 'guide/side_bar'
  %h3.title
    = render :partial => 'guide/title_actions'
  %h4
    = link_to "Edit Guide", :controller => 'guide', :action =>'edit', :id => @guide
    >> Edit #{@mod.module_title}
- else
  = render :partial => 'module/side_bar'
  %h3.title
    %span
      = @mod.module_title.html_safe
  .actions
    = link_to image_tag("icons/document_preview.png", :title => 'Preview this module', :alt => 'preview', :border => 0),{ :controller => "module", :action => 'view', :id => @mod, :type => @mod.class}, :target => '_blank'
    = link_to 'Preview', {:controller => 'module', :action => 'view',  :id => @mod, :type => @mod.class }, :target => '_blank'
  %h4
    Edit Module
