%table.table.table-striped
  %thead
    %tr
      %th Label
      %th
      %th Last Update
      %th Content Type
      %th Author
  %tbody
    - @mods.each do |mod|
      %tr
        %td= truncate(raw(mod.label),:length => 55)
        %td
          = awesome_button copy_module_path(mod, type: mod.class), 'copy', 'Copy this module'
          &nbsp;
          = awesome_button module_path(mod, type: mod.class), 'external-link', 'Preview this module'
        %td= mod.updated_at.to_date
        %td= mod.content_type
        %td= mod.created_by

= will_paginate @mods
