%table.table.table-striped
  %thead
    %tr
      %th Shared?
      %th Used?
      %th Label
      %th
      %th Last Update
      %th Content Type
      %th Global?
      %th Published?

  .tbody
    - @mods.each do |mod|
      - row_id = "row#{mod.id}#{mod.class}"
      %tr
        %td= awesome_button share_module_path(mod, type: mod.class), mod.shared? ? 'star' : 'star-empty', 'Share this module'
        %td= awesome_button manage_module_path(mod, type: mod.class), mod.used? ? 'circle' : 'circle-blank', 'Add this module to a guide, page, or tutorial'
        %td= truncate mod.label, length: 55
        %td
          = awesome_button edit_module_path(mod, type: mod.class), 'edit', 'Edit this module'
          = awesome_button module_path(mod, type: mod.class), 'external-link', 'Preview this module'
          = awesome_button copy_module_path(mod, type: mod.class), 'copy', 'Copy this module'
          = link_to '', module_path(mod, type: mod.class), method: :delete, class: 'icon-trash', title: 'Delete this module', confirm: 'Are you sure?'
        %td= mod.updated_at.to_date
        %td= mod.content_type
        %td
          - if mod.global == 0 || mod.global == false
            = awesome_button globalize_module_path(mod, type: mod.class), 'group', 'Add this module to the global list'
          - else
            = awesome_button globalize_module_path(mod, type: mod.class), 'globe', 'Remove this module from the global list'
        %td
          - if mod.published == 0 || mod.published == false
            = awesome_button publish_module_path(mod, type: mod.class), 'lock', 'Add this module to the published list'
          - else
            = awesome_button publish_module_path(mod, type: mod.class), 'unlock', 'Remove this module from the published list'

= will_paginate @mods
