- if @page.present?
  = render 'page/side_bar'
  = render 'page/title_actions'
- elsif @guide.present?
  = render 'guide/side_bar'
  = render 'guide/title_actions'
- else
  = render 'side_bar'
  %span= @mod.module_title
  .actions
    = link_to image_tag("icons/document_preview.png", :title => 'Preview this module', :alt => 'preview', :border => 0), module_path(@mod, :type => @mod.class), :target => '_blank'
    = link_to 'Preview', module_path(@mod, :type => @mod.class), :target => '_blank'
