.row
  .span2
    = render 'side_bar'

  .span10
    %h1.page-header
      = link_to "Add To/Used On", manage_module_path(@mod, :type => @mod.class)
      %br
      %small
        Add to Course Pages
    - unless @pages.size < 1
      %p.muted
        Check the box next to the tabs on the pages to which you want to add the module. Then click the button at the bottom of the list.
      = form_tag add_to_page_module_path(@mod, :type => @mod.class) do
        %table.table.table-striped
          %thead
            %tr
              %th Title
              %th
              %th Last Update
              %th Published?
              %th Archived?
          - @pages.each do |page|
            %tr
              %td
                = truncate page.search_title, length: 45
                %label.checkbox
                  - page.tabs.each do |tab|
                    = check_box_tag tab.tab_name, tab.id, tab.modules.include?(@mod), :onclick => "$.post('#{ add_page_module_path @mod  }', { tid: #{ tab.id }, type: '#{ @mod.class }' });"
                    = tab.tab_name
                    %br/
              %td
                = awesome_button show_ica_path(page), 'external-link', 'Preview this page'
              %td
                = page.updated_at.to_date
              %td
                - if page.published?
                  = awesome_button publish_page_path(page), 'lock', 'Add this module to the published list', '', method: :post, remote: true
                - else
                  = awesome_button publish_page_path(page), 'unlock', 'Remove this page from the published list', '', method: :post, remote: true
              %td
                - if page.archived == 0 || page.archived == false
                  = awesome_button archive_page_path(page), 'check-empty', 'Archive this page', '', method: :post, remote: true
                - else
                  = awesome_button archive_page_path(page), 'check', 'Unarchive this page', '', method: :post, remote: true
        .controls-group
          .controls
            = submit_tag 'Add to Page Tabs', class: 'btn btn-primary'
      = will_paginate @pages
    - else
      %p
        There are no pages available.
      %p
        = awesome_button new_page_path, 'plus', 'Create new page', 'btn'
