.row
  .span2
    = render 'side_bar'

  .span10
    - unless @items.size < 1
      %h1.page-header
        = link_to "Add To/Used On", manage_module_path(@mod, :type => @mod.class)
        %br
        %small
          Add to Course #{ @item_type.titlecase }
      %p.muted
        Check the box next to the tabs on the #{ @item_type }s to which you want to add the module. Then click the button at the bottom of the list.
      = form_tag @item_type == 'page' ? add_to_page_module_path(@mod, :type => @mod.class) : add_to_guide_module_path(@mod, :type => @mod.class) do
        %table#acts_pagey.table.table-striped
          %thead
            %tr
              %th Title
              %th
              %th Last Update
              %th Published?
              - if @item_type == 'page'
                %th Archived?
          - @items.each do |item|
            %tr
              %td
                - if @item_type == 'page'
                  = truncate item.search_title.html_safe, length: 45
                - else
                  = truncate item.guide_name.html_safe, length: 65
                %label.checkbox
                  - item.tabs.each do |tab|
                    = check_box_tag tab.tab_name, tab.id, tab.modules.include?(@mod), :onclick => "$.post('#{ add_item_module_path(@mod) }', { tid: #{ tab.id }, type: '#{ @mod.class }' });"
                    = tab.tab_name
                    %br/
              %td
                = awesome_button item, 'edit', "Edit this #{ @item_type }"
                - if @item_type == 'page'
                  = awesome_button show_ica_path(item), 'external-link', "Preview this #{ @item_type }", '', { :target => '_blank' }
                - else
                  = awesome_button show_srg_path(item), 'external-link', "Preview this #{ @item_type }", '', { :target => '_blank' }
                &nbsp;
              %td
                = item.updated_at.to_date
              %td
                - if item.published?
                  = awesome_button polymorphic_path([item], action: :publish), 'lock', "Add this #{ @item_type } to the published list", '', method: :post, remote: true
                - else
                  = awesome_button polymorphic_path([item], action: :publish  ), 'unlock', "Remove this #{ @item_type } from the published list", '', method: :post, remote: true
              - if @item_type == 'page'
                %td
                  - if item.archived == 0 || item.archived == false
                    = awesome_button archive_page_path(item), 'check-empty', "Archive this #{ @item_type }", '', method: :post, remote: true
                  - else
                    = awesome_button archive_page_path(item), 'check', "Unarchive this #{ @item_type }", '', method: :post, remote: true
        .controls-group
          .controls
            = submit_tag "Add to #{ @item_type.titlecase } Tabs", class: 'btn btn-primary'
      = will_paginate @items
    - else
      %p
        There are no pages available.
      %p
        = awesome_button polymorphic_path(@item_type.titlecase.constantize, action: :new), 'plus', "Create new #{ @item_type.titlecase }", 'btn'
