.row
  .span2
    = render 'side_bar'

  .span10
    %h1.page-header
      = link_to "Add To/Used On", manage_module_path(@mod, :type => @mod.class)
      %br
      %small
        Add to Subject Guides
    - unless @guides.size < 1
      %p.muted
        Check the box next to the guide's tab on which you wish to add the module.
      = form_tag add_to_guide_module_path(@mod, :type => @mod.class) do
        %table.table.table-striped
          %thead
            %tr
              %th Title
              %th
              %th Last Update
              %th Published?
          - @guides.each do |guide|
            %tr
              %td
                = truncate guide.guide_name, length: 65
                %label.checkbox
                  - guide.tabs.each do |tab|
                    = check_box_tag(tab.tab_name, tab.id,session[:tabs].include?(tab.id.to_s), :onclick => "$.post('#{ add_guide_module_path(@mod, type: @mod.class) }', { tid: #{ tab.id } });")
                    = tab.tab_name
                    %br/
              %td
                = awesome_button show_srg_path(guide, :tab => session[:current_tab]), 'external-link', 'Preview this guide'
              %td
                = guide.updated_at.to_date
              %td
                - if guide.published == 0 || guide.published == false
                  = awesome_button publish_guide_path(guide), 'lock', 'Add this guide to the published list'
                - else
                  = awesome_button publish_guide_path(guide), 'unlock', 'Remove this guide from the published list'
        .controls-group
          .controls
            = submit_tag 'Add to Guide Tabs', class: 'btn btn-primary'
      = will_paginate @guides
    - else
      %p
        There are no guides available.
      %p
        = awesome_button new_guide_path, 'plus', 'Create new guide', 'btn'
