%h3.title= render 'title_actions'
%h4
  Add To/Used On
%p This page shows where the module is used at. You can also add the module to multiple pages, guides or tutorials at one time.
#product-list
  - if @course_pages
    #page_header
      Used on #{@course_pages.length} Pages
      = link_to image_tag("icons/add.png", :title => 'Add to Pages', :alt => 'add', :border => 0)+'Add to Pages', add_to_page_module_path(@mod, :type => @mod.class)
    %table#hide_page{:style => "display:none"}
      - @course_pages.each do |page|
        %tr
          %td
            %b= h page.header_title
          %td{:width => "5%"}
            = link_to image_tag("icons/edit.png", :title => 'Edit this Page', :alt => 'Edit', :border => 0), {:controller =>'page', :action => 'edit',  :id => page }, :class=>'space'
            |
            \#{link_to image_tag("icons/document_preview.png", :title => 'Preview this Page', :alt => 'View Page', :border => 0), { :controller => "ica", :action => 'index', :id => page}, :popup => ['', 'height=800,width=980,toolbar=yes, scrollbars =yes,resizable=yes'],:class=>'space'}
  - if @guides
    #guide_header
      Used on #{@guides.length} Guides
      = link_to image_tag("icons/add.png", :title => 'Add to Guides', :alt => 'add', :border => 0)+'Add to Guides', add_to_guide_module_path(@mod, :type => @mod.class)
    %table#hide_guide{:style => "display:none"}
      - @guides.each do |guide|
        %tr
          %td
            %b= h guide.guide_name
          %td{:width => "5%"}
            = link_to image_tag("icons/edit.png", :title => 'Edit this Guide', :alt => 'Edit', :border => 0), {:controller =>'guide', :action => 'edit',  :id => guide}, :class=>'space'
            |	#{link_to image_tag("icons/document_preview.png", :title => 'Preview this Guide', :alt => 'View', :border => 0), { :controller => "srg", :action => 'index', :id => guide}, :popup => ['', 'height=800,width=980,toolbar=yes, scrollbars =yes,resizable=yes'] , :class=>'space'}
  - if @tutorials
    #tut_header
      Used on #{@tutorials.length} Tutorials
      = link_to image_tag("icons/add.png", :title => 'Add to Tutorials', :alt => 'add', :border => 0)+'Add to Tutorials', add_to_tutorial_module_path(@mod, :type => @mod.class)
    %table#hide_tutorial{:style => "display:none"}
      - @tutorials.each do |tutorial|
        %tr
          %td
            %b= h tutorial.full_name
          %td{:width => "5%"}
            = link_to image_tag("icons/edit.png", :title => 'Edit this Tutorial', :alt => 'Edit', :border => 0), {:controller =>'tutorial', :action => 'update',  :id => tutorial}, :class=>'space'
            |	#{link_to image_tag("icons/document_preview.png", :title => 'Preview this Tutorial', :alt => 'View', :border => 0), { :controller => "ort", :action => 'index', :id => tutorial}, :popup => ['', 'height=800,width=980,toolbar=yes, scrollbars =yes,resizable=yes'] , :class=>'space'}
