.row
  .span2
    = render 'side_bar'

  .span10
    %h1.page-header
      Add to / Used on
    %p.muted
      This page shows where the module is used. You can also add the module to multiple pages, guides, or tutorials at one time.
    - if @course_pages
      %h3
        Used on #{@course_pages.length} Pages
      %p
        = awesome_button add_to_page_module_path(@mod, type: @mod.class), 'plus', 'Add to Pages', 'btn'
      %table.table.table-striped
        - @course_pages.each do |page|
          %tr
            %td
              = raw page.header_title
            %td
              = awesome_button edit_page_path(page), 'edit', 'Edit this page'
              &nbsp;
              = awesome_button show_ica_path(page), 'external-link', 'Preview this page', '', { :target => '_blank' }
    - if @guides
      %hr
      %h3
        Used on #{@guides.length} Guides
      %p
        = awesome_button add_to_guide_module_path(@mod, type: @mod.class), 'plus', 'Add to Guides', 'btn'
      %table.table.table-striped
        - @guides.each do |guide|
          %tr
            %td
              = raw guide.guide_name
            %td
              = awesome_button edit_guide_path(guide), 'edit', 'Edit this guide'
              &nbsp;
              = awesome_button show_srg_path(guide), 'external-link', 'Preview this guide', '', { :target => '_blank' }
    - if @tutorials
      %hr
      %h3
        Used on #{@tutorials.length} Tutorials
      %p
        = awesome_button add_to_tutorial_module_path(@mod, type: @mod.class), 'plus', 'Add to Tutorials', 'btn'
      %table.table.table-striped
        - @tutorials.each do |tutorial|
          %tr
            %td
              = raw tutorial.full_name
            %td
              = awesome_button edit_tutorial_path(tutorial), 'edit', 'Edit this tutorial'
              &nbsp;
              = awesome_button show_ort_path(tutorial), 'external-link', 'Preview this tutorial', '', { :target => '_blank' }
