#mock_full
  %ul#full
    - @mods.each do |pr|
      - mod = pr.resource.mod
      %li.list-item{ :id => "item_#{ pr.id }" }
        %span.list-title
          = truncate mod.label, :length => 40
        %span.handle
          = image_tag 'icons/move.png', :title => 'Drag and Drop', :alt => 'Drag and Drop', :border => 0
        %br/
        = more_help "'#{ render_tooltip mod }'", '125'
        |
        = link_to icon_tag('edit', 'Edit this module'), {:controller => 'module', :action => 'edit_content', :id => mod, :type => mod.class}
        |
        = link_to icon_tag('external-link', 'View this Module'), {:controller => 'module', :action => 'view', :id => mod, :type => mod.class}, :popup => ['', 'height=400,width=350,toolbar=yes, scrollbars =yes,resizable=yes']
        |
        = link_to icon_tag('remove', 'Remove this Module from Page'), {:controller => 'tab', :action => 'remove_module', :id => mod, :type => mod.class, :tab => @tab.id }, :confirm => 'Are you sure you want to remove this module from the tab?', :method => :post
