%fieldset
  %h3.title
    = render :partial => '/guide/title_actions'
  %h4 Add Modules
  - if flash[:error]
    #error_wrapper
      #list_error= flash[:error]
  %p
    %b
      On Tab: #{@tab.tab_name}
    %span.tip= link_to 'Choose a different tab.', {:controller => 'guide', :action => 'edit',  :id => @guide.id}
  = render :partial => "shared/new_module"
  - unless @mods.size <1
    #product-list
      = form_tag :controller => 'tab', :action => 'add_modules', :id => @tab.id do
        #table
          = render :partial => "shared/add_modules_list"
        = submit_tag 'Add to Tab', :class=> "submit"
  - else
    %p
      %b You currently have no Modules. Create a new module or copy a global module to get started.
  = render :partial => 'guide/side_bar'
