.container= awesome_button new_tutorial_path, 'plus', 'Create new tutorial', 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Shared?
      %th Title
      %th
      %th Last Update
      %th Published?
      %th Archived?
  %tbody
    - @tutorials.each do |tutorial|
      - search = false if search.nil?
      - tutorial_params = tutorial_search_params(search,tutorial)
      %tr
        %td
          = awesome_button share_tutorial_path(tutorial), tutorial.shared? ? 'star' : 'star-empty', 'Share this tutorial'
        %td
          = truncate tutorial.name.html_safe, length: 65
        %td
          = awesome_button tutorial_units_path(tutorial), 'edit', 'Edit this tutorial'
          &nbsp;
          = awesome_button show_ort_path(tutorial), 'external-link', 'Preview this tutorial'
          &nbsp;
          = awesome_button copy_tutorial_path(tutorial), 'copy', 'Copy this tutorial'
          &nbsp;
          = link_to '', tutorials_path(tutorial), method: :delete, class: 'icon-trash', title: 'Delete this tutorial', confirm: 'Are you sure?'
        %td
          = tutorial.updated_at.to_date
        %td
          - if tutorial.published == 0 || tutorial.published == false
            = awesome_button publish_tutorial_path(tutorial), 'lock', 'Add this tutorial to the published list'
          - else
            = awesome_button publish_tutorial_path(tutorial), 'unlock', 'Remove this tutorial to the published list'
        %td
          - if tutorial.archived == 0 || tutorial.archived == false
            = awesome_button archive_tutorial_path(tutorial), 'archive', 'Archive this tutorial'
          - else
            = awesome_button archive_tutorial_path(tutorial), 'check-empty', 'Unarchive this tutorial'

= will_paginate @tutorials
