.row
  .span2
    = render 'side_bar'
  .span10
    %h1.page-header
      Quiz Manager
    .btn-group.btn-toolbar
      = link_to 'View Quiz Responses', { :controller => 'ort', :action => 'grades', :id => @tutorial }, :class => 'btn', :target => '_blank'
      - if @sect
        = link_to 'Show All Sections', { :action => 'quizes' }, :class => 'btn'
        = link_to 'Export Grades', { :action => 'export', :id => @tutorial, :section => @sect }, :class => 'btn'
        = link_to 'Clear Grades', { :action => 'clear_grades', :id => @tutorial, :section => @sect },:confirm => 'Are you sure you want to delete the grades for this section?', :method => :post, :class => 'btn'
      - else
        = link_to 'Export Grades', { :action => 'export', :id => @tutorial, :section => @sect }, :class => 'btn'
        = link_to 'Clear All Grades', { :action => 'clear_grades', :id => @tutorial },:confirm => 'Are you sure you want to delete all grades for this tutorial?', :method => :post, :class => 'btn'
    %p
      %strong Grades Login/Password:
      = @tutorial.id
      \/ #{ @tutorial.pass }
    = form_tag({ :action => 'quizes' }, :class => 'form-horizontal') do
      .control-group
        %label.control-label Sort by Section Number:
        .controls
          %select#section{ :name => 'section' }
            %option{ :selected => 'selected', :value => '00' } Select
            = options_for_select(@sections, @sect)
          = submit_tag 'Go', class: 'btn'
    - if @students.size < 1
      %p Sorry there are no quiz results for this section.
    - else
      %ol
        - @students.each do |student|
          %li
            %label
              Name: #{student.name}
              %br/
              Onid: #{student.onid}
              %br/
              Total Score: #{student.final_score} out of #{@tutorial.possible_score}
              %br/
              Section: #{student.sect_num}
