.row
  .span2
    = render 'side_bar'
  .span10
    %h1.page-header
      Share Tutorial
    = form_tag({ :action => 'share_update', :id => @tutorial }) do
      = render 'shared/share_left'
      %fieldset
        %legend Sharing Options
        .control-group
          .controls
            %label.radio
              = radio_button_tag('copy', 2, true)
              Share the Original
            %p.muted
              Sharing the original gives editing rights to this tutorial.
            %label.radio
              = radio_button_tag('copy', 1, false)
              Share a Template
              %p.muted
                A template is a copy and does not give editing rights to this tutorial.
        %fieldset
          %legend Email Message
          .control-group
            .control
              = text_area_tag "body", @message, :rows => 10, :cols => 3, :class => "tinymce"
              = tinymce
        .control-group
          .controls
            = submit_tag 'Share', :class => 'btn btn-primary submit'
            = link_to 'Cancel', { :action => 'index' }, :class => 'btn'
    %fieldset
      %legend Tutorial Colaborators
      = render 'owners'
      %p.muted
        Removing someone revokes their editing rights. The tutorial's creator can not be removed from the list.
