%section{ :id => "topic_#{ mod.class.to_s.downcase }_#{ mod.id }" }
  %h1.page-header
    = raw mod.module_title

  %dl.dl-horizontal
    - unless mod.instructor_name.blank?
      %dt Name
      %dd= raw mod.instructor_name
    - unless mod.office_location.blank?
      %dt Office
      %dd= raw mod.office_location
    - unless mod.office_hours.blank?
      %dt Office Hours
      %dd= raw mod.office_hours
    - unless mod.website.blank? and mod.email.blank?
      %dt Contact
      %dd
        - unless mod.email.blank?
          = mail_to mod.email, nil, :encode => 'javascript'
          %br
      - unless mod.website.blank?
        %dt Website
        %dd
          %a{:href => "#{raw mod.website }"}
            = mod.website