%h1.page-header Edit Module

= report_errors @mod

= form_for @mod do |f|
  .control-group
    %label.control-label{ for: 'mod_label' }
      Private Label
      %span.required *
    .controls
    = f.text_field :label, class: 'input-xlarge'

  .control-group
    %label.control-label{ for: 'mod_title' }
      Module Title
      %span.required *
    .controls
      = f.text_field :module_title, class: 'input-xlarge'

  .control-group
    %label.control-label{ for: 'mod_tag_list' }
      Tags
    .controls
      = f.text_field :tag_list, class: 'input-xlarge'
      %p.muted
        examples: WR101, Databases, Writing

  .control-group
    %label.control-label{ :for => 'name' }
      Instructor's Name
    .controls
      = f.text_field 'instructor_name', class: 'input-xlarge'

  .control-group
    %label.control-label{ :for => 'email' }
      Instructor's Email Address
    .controls
      = f.text_field 'email', class: 'input-xlarge'

  .control-group
    %label.control-label{:for => 'office_loc' }
      Instructor's Office Location
    .controls
      = f.text_field 'office_location', class: 'input-xlarge'

  .control-group
    %label.control-label{:for => 'office_hrs' }
      Instructor's Office Hours
    .controls
      = f.text_field 'office_hours', class: 'input-xlarge'

  .control-group
    %label.control-label{ :for => 'web' }
      Instructor's Website URL
    .controls
      = f.text_field 'website', class: 'input-xlarge'

  .control-group
    .controls
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Cancel', modules_path, class: 'btn btn-cancel'
