%h2= raw @mod.module_title

%p
  %dl.dl-horizontal
    - unless @mod.instructor_name.blank?
      %dt Name
      %dd= raw @mod.instructor_name
    - unless @mod.office_location.blank?
      %dt Office
      %dd= raw @mod.office_location
    - unless @mod.office_hours.blank?
      %dt Office Hours
      %dd= raw @mod.office_hours
    - unless @mod.website.blank? and @mod.email.blank?
      %dt Contact
      %dd
        - unless @mod.email.blank?
          = mail_to @mod.email, nil, :encode => 'javascript'
          %br
      - unless @mod.website.blank?
        %a{:href => "#{raw @mod.website }"}
          Instructor's Website
