= form_for dod do |f|
  = error_messages_for :dod

  .control-group
    %label.control-label{ :for => 'title' }
      Database Title
      %span.required *
    .controls
      = f.text_field :title, class: 'input-xlarge'
      = f.error_message_on 'title'

  .control-group
    %label.control-label{ :for => 'url' }
      Database URL
      %span.required *
    .controls
      = f.text_field :url, class: 'input-xlarge'
      = f.error_message_on 'url'

  .control-group
    %label.control-label{ :for => 'startdate' } Coverage Start Date
    .controls
      = f.text_field :startdate, class: 'input-xlarge'
      = f.error_message_on 'startdate'

  .control-group
    %label.control-label{ :for => 'enddate' } Coverage End Date
    .controls
      = f.text_field :enddate, class: 'input-xlarge'
      = f.error_message_on 'enddate'

  .control-group
    %label.control-label{ :for => 'provider' }
      Provider Name
      %span.required *
    .controls
      = f.text_field :provider, class: 'input-xlarge'
      = f.error_message_on 'provider'

  .control-group
    %label.control-label{ :for => 'providerurl' } Provider URL
    .controls
      = f.text_field :providerurl, class: 'input-xlarge'
      = f.error_message_on 'providerurl'

  .control-group
    %label.control-label{ :for => 'proxy' }
      Requires Proxy (0 = false, 1 = true)
      %span.required *
    .controls
      = f.text_field :proxy, class: 'input-xlarge'
      = f.error_message_on 'proxy'

  .control-group
    %label.control-label{ :for => 'descr' }
      %span.required *
      Database Description
    .controls
      = f.error_message_on 'descr'
      = f.text_area :descr, class: 'ckeditor'

  .control-group
    .controls
      = f.submit 'Save',  class: 'btn btn-primary'
      = link_to 'Cancel', dods_path, class: 'btn btn-cancel'
