= form_for dod do |f|
  = error_messages_for :dod

  %label{ :for => "title" }
    %span.required *
    Database Title
  = f.text_field :title
  = f.error_message_on "title"

  %label{ :for => "url" }
    %span.required *
    Database URL
  = f.text_field :url
  = f.error_message_on "url"

  %label{:for => "startdate"} Coverage Start Date
  = f.text_field :startdate
  = f.error_message_on "startdate"

  %label{:for => "enddate"} Coverage End Date
  = f.text_field :enddate
  = f.error_message_on "enddate"

  %label{:for => "provider"}
    %span.required> *
    Provider Name
  = f.text_field :provider
  = f.error_message_on "provider"

  %label{:for => "providerurl"} Provider URL
  = f.text_field :providerurl
  = f.error_message_on "providerurl"

  %label{:for => "proxy"}
    %span.required> *
    Requires Proxy (0 = false, 1 = true)
  = f.text_field :proxy
  = f.error_message_on "proxy"

  %label{:for => "descr"}
    %span.required> *
    Database Description
  = f.text_area :descr, class: 'tinymce'
  = f.error_message_on "descr"

  %br/
  = f.submit class: 'btn btn-primary'
  = link_to 'Cancel', dods_path, class: 'btn btn-cancel'

= tinymce
