%h1.page-header Listing Database of Databases

%p
  = awesome_button new_dod_path, 'plus', 'Create new database', 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Actions
  %tbody
    - @dods.each do |dod|
      %tr
        %td= dod.title
        %td
          = awesome_button edit_dod_path(dod), 'edit', 'Edit database', ''
          |
          = link_to '', dod_path(dod), class: 'icon-trash', :confirm => 'Are you sure you want to delete this Dod?', :method => :delete

= will_paginate @dods
