%h1 Listing Database of Databases
= flash_notice

= link_to new_dod_path, class: 'btn btn-primary' do
  %i.icon-plus
  Create New Database

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Actions
  %tbody
    - @dods.each do |dod|
      %tr
        %td= dod.title
        %td
          = link_to '', edit_dod_path(dod), class: 'icon-edit'
          = link_to '', dod_path(dod), class: 'icon-trash', :confirm => 'Are you sure you want to delete this Dod?', :method => :delete

= will_paginate @dods
