= form_for page do |f|
  %fieldset
    %legend Page Title
    %p.muted
      A course page title must be unique. Press Ctrl or Command to select or deselect multiple subjects.
      %i.icon-question-sign{ :data => { :content => 'The title of a page consists of subject, course number, and course name. The page title is what will appear at the top of the course page.<br/><br/>Tip: To make a cross discipline page press Ctrl to select multiple subjects.  Section number is not required.', :html => 'true', :trigger => 'hover' } }

    .control-group
      %label.control-label{ :for => 'page_subject' } Subject
      .controls
        = f.collection_select :subject_ids, @subj_list, :id, :subject_code, {}, multiple: true, :class => 'input-xlarge'

    .control-group
      %label.control-label{ :for => 'page_course_num' } Course #
      .controls
        = f.text_field :course_num, :tabindex => '2', :class => 'input-xlarge'

    .control-group
      %label.control-label{ :for => 'page_course_name'} Course Name
      .controls
        = f.text_field :course_name, :tabindex => '3', :class => 'input-xlarge'

    .control-group
      %label.control-label{ :for => 'page_term'} Term
      .controls
        = f.select :term, @terms, {}, { :class => 'input-xlarge' }

    .control-group
      %label.control-label{ :for => 'page_year' } Year
      .controls
        = f.select :year, @years, {}, { :class => 'input-xlarge' }

    .control-group
      %label.control-label{ :for => 'page_sect_num' } Section#
      .controls
        = f.text_field :sect_num, :tabindex => '6', :class => 'input-xlarge'

    .control-group
      %label.control-label{ :for => 'page_campus' } Campus
      .controls
        = f.select :campus, @campus, {}, { :class => 'input-xlarge' }

  %fieldset
    %legend Page Metadata

    .control-group
      %label.control-label{ :for => 'tags' }
        Tags
      .controls
        = f.text_field :tag_list, :class => 'input-xlarge'
        %i.icon-question-sign{ :data => { :content => 'Tags are keywords that highlight content on the guide.<br/><br/>Tips: Seperate individual tags with a comma. Only add 3-5 tags. Use the same tag on similar guides to help discovery.', :html => 'true', :trigger => 'hover' } }

    .control-group
    %label.control-label{ :for => 'page_page_description'}
      Description
      %i.icon-question-sign{ :data => { :content => 'The page description is a short teaser that describes the guide.<br/><br/>Tips: Write complete sentences. Include slightly different word orders and keywords than what you use in the name and highlight special content on the guide', :html => 'true', :trigger => 'hover' } }
      .controls
        = f.text_area :page_description, 'class' => 'ckeditor'

  .control-group
    .controls
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Cancel', pages_path, class: 'btn btn-cancel'

:javascript
  $('.icon-question-sign').popover();
