%table#acts_pagey.table.table-striped
  %thead
    %tr
      %th Shared?
      %th Title
      %th
      %th Last Update
      %th Published?
      %th Archived?

  %tbody
    - @pages.each do |page|
      %tr
        %td
          = awesome_button share_page_path(page), page.shared? ? 'star' : 'star-empty', 'Share this page'
        %td
          = truncate page.search_title.html_safe, length: 65
        %td
          = awesome_button page, 'edit', 'Edit this page'
          &nbsp;
          = awesome_button show_ica_path(page), 'external-link', 'Preview this page'
          &nbsp;
          = awesome_button copy_page_path(page), 'copy', 'Copy this page'
          &nbsp;
          = link_to '', page, :update => "row#{page.id}" , :confirm => 'Are you sure you want to delete this page from your list?', :class =>'icon-trash', :title => 'Delete this page', :method => :delete, :remote => true
        %td
          = page.updated_at.to_date
        %td
          - if page.published?
            = awesome_button publish_page_path(page), 'lock', 'Add this module to the published list', '', method: :post, remote: true
          - else
            = awesome_button publish_page_path(page), 'unlock', 'Remove this page from the published list', '', method: :post, remote: true
        %td
          - if page.archived == 0 || page.archived == false
            = awesome_button archive_page_path(page), 'archive', 'Archive this page'
          - else
            = awesome_button archive_page_path(page), 'check-empty', 'Unarchive this page'

= will_paginate @pages
