%h1.page-header
  Copy Page as #{ @page.header_title }-copy
  = report_errors @page

= form_tag copy_page_path(@page) do
  %fieldset
    %legend
      Copy Options
      %i.icon-question-sign{ :data => { :content => 'Copy the modules if you want to make a distinct copy. Link the modules if you want edits to one page to effect the other.', :html => 'true', :trigger => 'hover' } }
    .control-group
      %label.radio
        Copy the Modules
        = radio_button_tag 'options', 'copy', :checked => true
      %p.muted
        Edits to the modules will not change the original pages's modules.
    .control-group
      %label.radio
        Link the Modules
        = radio_button_tag 'options', 'reuse'
      %p.muted
        Whenever edits are made to the original modules, this page's modules will be updated too.

    .control-group
      = submit_tag 'Copy', :class => 'btn btn-primary submit'
      = link_to 'Cancel', { :action => 'index' }, { :class => 'btn' }

:javascript
  $('.icon-question-sign').popover();

