.row
  .span2= render 'side_bar'

  .span10
    = render 'title_actions'

    %h2
      = link_to 'Edit Page', @page
      >> Related Subject Guides

    = flash_notice

    = form_for @page, url: edit_relateds_page_path(@page) do |f|
      %label
        Add Related Guides
        = more_help 'AUTO_RELATED_MSSG', '125'
      = select_tag :relateds, options_from_collection_for_select(@guides, :id, :guide_name, @relateds), multiple: true, size: 8
      .tip (Click CTRL or Command to select multiple guides)

      %br/
      = f.submit 'Update Relateds', class: 'btn btn-primary'
      = link_to 'Cancel', @page, class: 'btn btn-cancel'
