
.row
  .span2= render 'guides/side_bar'

  .span10

    %h1.page-header Add Modules
    %p
      %b On Tab: #{@tab.tab_name}
      %span.tip= link_to 'Choose a different tab.', @guide

    = render :partial => "shared/new_module"

    - unless @mods.size <1
      = form_tag add_modules_tab_path(@tab) do
        = render :partial => "shared/add_modules_list"
        = submit_tag 'Add to Tab', class: 'btn btn-primary'
    - else
      %p
        %b You currently have no Modules. Create a new module or copy a global module to get started.
