.container
  = polymorphic_partial @parent, 'title_actions'

.row
  .span2= polymorphic_partial @parent, 'side_bar'
  .span10
    %h1.page-header
      Add Modules
      %br
      %small
        .edit{ :id => "tab_#{ @tab.id }", 'post-url' => polymorphic_path([@parent, @tab], :action => :save_tab_name) }<
          = @tab.tab_name
    %p
      = link_to 'Change Tab', @parent, :class => 'btn'
      = render :partial => "shared/new_node"

    - unless @mods.size < 1
      = form_tag polymorphic_path([@parent, @tab], action: :add_node) do
        .control-group
          = render "shared/add_nodes_list"
        .control-group
          .controls
            = submit_tag 'Add to Tab', class: 'btn btn-primary'
    - else
      %p
        %b You currently have no Modules. Create a new module or copy a global module to get started.
