= report_errors @subject

= form_for subject, html: { class: 'form-horizontal' } do |f|
  .control-group
    %label.control-label{ for: 'subject_subject_code' } Subject Code
    .controls
      = f.text_field :subject_code, size: 10

  .control-group
    %label.control-label{ for: 'subject_subject_name' } Subject Name
    .controls
      = f.text_field :subject_name

  .control-group
    %label.control-label
    .controls
      = f.submit 'Save',  class: 'btn btn-primary'
      = link_to 'Cancel', subjects_path, class: 'btn btn-cancel'
