%h1.page-header Listing Subjects

%p
  = awesome_button new_subject_path, 'plus', 'Create new subject', 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Subject Code
      %th Subject Name
      %th Actions
  %tbody
    - @subjects.each do |subject|
      %tr
        %td= subject.subject_code
        %td= subject.subject_name
        %td
          = awesome_button edit_subject_path(subject), 'edit', 'Edit subject'
          &nbsp;
          = link_to '', subject_path(subject), class: 'icon-trash', :confirm => 'Are you sure you want to delete this subject?', :method => :delete

= will_paginate @subjects
