<div class="container">
  <h1 class="text-center"><%=@local.ica_page_title %> </h1>
  <hr/>

  <div class="row">
    <div class="span8">
      <h2>Browse Archived Course Guides</h2>

      <% form_tag :action => 'archived' do%>
      <strong>By department:</strong>
      <div class="input-append">
        <select id="subject" name="subject">
          <option value="00" selected="selected" >Select</option>
          <%= options_from_collection_for_select(@subjects, 'id', 'subject_code', @subj.to_i)%>
        </select>
        <button class="btn" type="submit">Go</button>
        </div>
        <%if @subj%>
          <small><%= link_to 'Show All Pages', :action => 'archived' %></small>
        <%end%>
      <%end%>

      <p>
        <% if @pages.size < 1%>
          <p>
            Sorry there are no archived course guides for this department.
          </p>
        <% else%>
          <%if @subject%>
            <p>
              Course Guides for: <strong><%=@subject.subject_name %></strong>
            </p>
          <%end%>
          <% for page in @pages %>
            <%page_url = url_for :controller => 'ica', :action => 'index', :id => page%>
            <ul class="unstyled">
              <li>
                <%= link_to page.search_title, page_url, :title => "#{h page.page_description}" %>
              </li>
            </ul>
          <%end%>
        <%end%>
      <p>
        Looking for a more recent course guide? Try the
        <%= link_to "Current Course Guides", :action =>'published_pages' %>
        List.
      </p>
    </p>
  </div>

  <div class="span4">
    <%= render :partial => '/shared/right_side'%>
  </div>
</div>

<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>
<script type="text/javascript">
  //<![CDATA[

        var mysearch=new ddtabcontent("search") //enter ID of Tab Container
        mysearch.setpersist(true) //toogle persistence of the tabs' state
        mysearch.setselectedClassTarget("linkparent") //"link" or "linkparent"
        mysearch.init()
//]]>
</script>
<script type="text/javascript">
  //<![CDATA[

        var myov=new ddtabcontent("overview") //enter ID of Tab Container
        myov.setpersist(true) //toogle persistence of the tabs' state
        myov.setselectedClassTarget("link") //"link" or "linkparent"
        myov.init()
//]]>
</script>
