<% content_for :search_results do %>
  <h2>Browse Archived Course Guides</h2>

  <% form_tag :action => "archived" do %>
    <strong>By department:</strong>

    <div class="input-append">
      <select id="subject" name="subject">
        <option value="00" selected="selected" >Select</option>
        <%= options_from_collection_for_select(@subjects, "id", "subject_code", @subj.to_i) %>
      </select>

      <button class="btn" type="submit">Go</button>
    </div>

    <% if @subj %>
      <small><%= link_to "Show All Pages", :action => "archived" %></small>
    <% end %>
  <% end %>

  <p>
    <% if @pages.size < 1 %>
      <p>
        Sorry there are no archived course guides for this department.
      </p>
    <% else %>
      <% if @subject %>
        <p>
          Course Guides for: <strong><%= @subject.subject_name %></strong>
        </p>
      <% end %>
      <%= render :partial => "shared/az_published_pages",
                 :locals => { :controller => "ica",
                              :pages => @pages } %>
    <% end %>
  </p>

  <p>
    Looking for a more recent course guide? Try the
    <%= link_to "Current Course Guides", :action => "published_pages" %>
    List.
  </p>
<% end %>

<%= render :partial => "ica_results" %>
