<div class="container">
  <div class="row">

    <div class="span4">
      <%= render :partial => 'left_side_bar'%>
    </div> <!-- end sidebar-left -->

    <div class="span8">
      <h1><%=h(@page.header_title)%></h1>

      <% if @tabs.length > 1 %>
      <div>
        <ul class="nav nav-tabs">
          <% for tab in @tabs%>
          <% @tab_url = url_for :controller => 'ica', :action => 'index', :id => @page, :tab => tab.id %>
            <%if tab.id == @tab.id%>
            <li class="active">
              <a href="#tab-content"><span><%= tab.tab_name%></span></a>
            </li>
            <%else%>
            <li>
              <a href ="<%=@tab_url%>"><span><%= tab.tab_name%></span></a>
            </li>
            <%end%>
          <%end%>
        </ul>
      </div>
      <%end%>

      <div id="tab-content">
      <%unless @mods%>
      <%=render :partial => 'two_column' %>
      <%else%>
        <%=render :partial => 'one_column' %>
      <%end%>

      <%= render :partial => 'metadata'%>

      </div>
    </div> <!-- end span8 -->
  </div> <!-- end row -->
</div> <!-- end main -->
