%h1.page-header
  Set My Profile

%p
  Select my profile and default contact module for my guides and pages.
  %i.icon-question-sign{ :data => { :content => 'The contact module should contain contact information. The module must already be created before you can add it as the contact module.<br/><br/>Tip: Setting a default contact module will automatically select this module for you when you create a new page/guide, you can select a different one if needed.', :html => 'true', :trigger => 'hover' } }

= form_tag :action => 'edit_profile'  do
  %select#guide_type{ :name => 'contact' }
    %option Select
    - for resource in @resources
      <option value=#{resource.id}
      - if resource.id == @selected
        selected='selected'
      >#{raw resource.mod.label}
  %br
  = submit_tag 'Set Profile', class: 'btn btn-primary'
  = link_to 'Cancel', dashboard_path, class: 'btn'

:javascript
  $('.icon-question-sign').popover();
