%h1.page-header Hello #{ @user.name }

.row
  .span8
    %h2 Modules
    %p
      %i.icon-large.icon-plus-sign{ :title => 'New module', :alt => 'add' }
      = link_to 'Create a new content module', new_node_path
    %p
      %i.icon-large.icon-folder-open{ :title => 'Browse my modules', :alt => 'browse' }
      = link_to 'Browse content modules', nodes_path
    - if @user.node_id.present?
      %p
        %i.icon-large.icon-edit{ :title => 'My contact module', :alt => 'edit' }
        = link_to 'Edit default contact module' , :controller => 'dashboards', :action => 'my_profile', :rid => @user.node_id
        %br/
    - else
      %p
        %i.icon-large.icon-wrench{ :title => 'Set my contact module', :alt => 'edit' }
        = link_to 'Set default contact module', edit_profile_dashboard_path
    %p
      %i.icon-large.icon-globe{ :title => 'Browse global modules', :alt => 'browse' }
      = link_to 'Browse global modules', nodes_path(list: 'global')

    %hr

    .row
      .span4
        %h2 My Guides
        %p
          %i.icon-large.icon-plus-sign{ :title => 'New guide', :alt => 'add' }
          = link_to 'Create a new subject guide', new_guide_path
        %p
          %i.icon-large.icon-folder-open{ :title => 'Browse my guides', :alt => 'browse' }
          = link_to 'Browse subject guides', guides_path
      .span4
        %h2 My Pages
        %p
          %i.icon-large.icon-plus-sign{ :title => 'New page', :alt => 'add' }
          = link_to 'Create a new course page', new_page_path
        %p
          %i.icon-large.icon-folder-open{ :title => 'Browse my pages', :alt => 'browse' }
          = link_to 'Browse course pages', pages_path

  .span4
    .well.well-small
      %h3 Overview
      %dl.dl-horizontal
        %dt modules
        %dd #{@num_nodes}
        %dt
          = link_to 'published guides', :controller => :subject_guides , :action => 'published_guides'
        %dd #{@num_published_guides}
        %dt
          = link_to 'published pages', course_pages_path
        %dd #{@num_published_pages}
        %dt
          = link_to 'archived pages', archived_course_pages_path
        %dd #{@num_archived_pages}
      %ul.unstyled
        %li
          %i.icon-user{ :title => 'My account', :alt => 'account' }
          = link_to 'Edit my account', my_account_dashboard_path
        %li
          %i.icon-question-sign{ :title => 'Help/FAQ', :alt => 'help' }
          = alacarte_documentation 'Get help & discover new features'

    .well.well-small
      %h3 Recent Activity
      %ul.unstyled
        - for item in @recent_activity
          %li
            %i.icon-edit{ :title => 'Edit', :alt => 'edit' }
            = activity_link(item)
