%fieldset
  %legend= _('Forgot My Password')
  %p= _('Please enter your account email address. You will receive a new password shortly, which will allow you to access the tool.')
  = form_tag({ :controller => 'login', :action => 'forgot_password' }, :class => 'form-inline') do
    %label.control-label{ :for => 'email' }= _('Email')
    = text_field 'user', 'email', :class => 'input-xlarge'
    = submit_tag _('Reset my password'), :class => 'btn btn-primary'
    = link_to _('Cancel'), { }, :action => 'login', :class => 'btn'
