%fieldset
  %legend
    Please Log In

  = form_tag({:action => 'login/' }, { :class => 'form-horizontal' }) do
    .control-group
      %label.control-label{ :for => 'email' }= _('Email')
      .controls
        = text_field_tag :email, params[:email], :class => 'input-xlarge'
    .control-group
      %label.control-label{ :for => 'password'}= _('Password')
      .controls
        = password_field_tag :password, params[:password], :class => 'input-xlarge'
    .control-group
      .controls
        = link_to _('Forgot My Password'), :action => 'forgot_password'
        |
        = link_to _('Sign Up for an Account'), :action => 'signup'
        %br
        %br
        = submit_tag _('Login'), :class => 'btn btn-primary'
