#guide_tabs
  %ul#drag
    - @tabs.each do |tab|
      - unless tab.id == @tab.id
        %li{ :id => "item_#{ tab.id }" }
          %span.tabs
            = link_to tab.tab_name, { :remote => true, :update => 'tab_content', :url => { :controller => 'tab', :action => 'show', :id => tab.id } }, { :title => 'Edit This Tab', :href => url_for({ :controller => 'tab', :action => 'show', :id => tab.id }) }
            %span.hand
              = image_tag 'icons/move.png', :title => 'Drag and Drop', :alt => 'Drag and Drop', :border => 0
      - else
        %li.editable{ :id => "item_#{ tab.id }" }
          %span.tabs
            = in_place_editor_field :tab, 'tab_name', {}, :rows => 1
            = link_to icon_tag('trash', 'Delete tab'), {:controller =>'tab', :action => 'delete', :id => tab }, :confirm => 'This will delete the tab and all modules on this tab from the guide. Are you sure you want to delete this tab from the guide?', :method => :post
            %span.hand
              = image_tag 'icons/move.png', :title => 'Drag and Drop', :alt => 'Drag and Drop', :border => 0

#mock_content.clear_left
  #tab_actions
    = link_to image_tag("icons/add.png", :title => 'Add Modules', :alt => 'add modules', :border => 0)+'Add Modules', {:controller => 'tab', :action => 'add_modules',  :id => @guide.id,:sort => 'name'}
    |
    = link_to 'Toggle Columns',:controller => 'tab',  :action => 'toggle_columns'

  #mock_left.left_bar
    %ul.no_indent
      %li.list-item
        = link_to image_tag("icons/edit.png", :title => 'Edit this Module', :alt => 'Edit', :border => 0)+ ' Contact Module', {:controller => 'guide', :action => 'edit_contact', :id => @guide}
      %li.list-item
        = link_to image_tag("icons/edit.png", :title => 'Edit Related Guides', :alt => 'Edit', :border => 0)+ ' Related Guides', {:controller => 'guide', :action => 'edit_relateds', :id => @guide}

= render "tab/#{ @mods ? 'one' : 'two' }_column_tab"
