%table
  = render :partial => "t_head"
  - for guide in @guides
    %tr{:class => cycle('list-line-odd', 'list-line-even'), :id => "row#{guide.id}"}
      %td.center{:width => "5%"}
        - if !guide.shared?
          = link_to image_tag("icons/user_add.png", :title => 'Click to share this guide', :alt => 'Share', :border => 0),  :action => 'share', :id => guide
        - else
          = link_to image_tag("icons/users.png", :title => 'This Guide is Shared. Click to share this guide with others.', :alt => 'Share', :border => 0),  :action => 'share',  :id => guide
      %td{:class => sort_th_class_helper "name", :width => "40%"}
        = truncate(h(guide.guide_name),:length => 65)
      %td{:width => "15%"}
        = link_to icon_tag('edit', 'Edit this Guide'), edit_guide_path(guide), :class =>'space'
        | #{link_to icon_tag('external-link', 'Preview this Guide in a New Window'), show_srg_path(guide, :tab => session[:current_tab]), :popup => ['', 'height=800,width=980,toolbar=yes, scrollbars =yes,resizable=yes'], :class =>'space'}
        | #{link_to icon_tag('copy', 'Copy this guide'), copy_guide_path(guide), :class =>'space'}
        | #{link_to icon_tag('trash', 'Delete this guide'), {:url => delete_guide_path(guide, :page => @page, :sort => @sort), :update => "row#{guide.id}" , :confirm => 'Are you sure you want to delete this guide from your list?'}, :href => delete_guide_path(guide, :page => @page, :sort => @sort),:class =>'space', :method => :post, :remote => true}
      %td{:class => sort_th_class_helper "date", :width => "15%"}
        = guide.updated_at.to_date
      %td.center{:id => "publish#{guide.id}", :width => "5%"}
        = render :partial => "publish" ,:locals => {:guide => guide, :page => @page, :sort => @sort}
.pagination
  - if !@all and @guides.total_pages > 1
    %ul
      %li= will_paginate @guides, :params => params.merge({:sort=> @sort}).except(:authenticity_token)
      %li= link_to 'show all', :loading => "Element.show('spinner_links')",                                                                    |
          :complete => "Element.hide('spinner_links')", :url => {:action => 'index_all', :sort => @sort },:update => 'table', :remote => true |
      %li= image_tag "spinner.gif", :id => "spinner_links", :class => 'image', :alt => "Spinner", :style => 'display:none;'
  - elsif @all
    %ul
      %li= link_to 'show less', :action => 'index', :sort => @sort
