%ul.nav.nav-pills.nav-stacked
  %li{ :class => current_page?(update_guide_path(@guide)) && "active" }
    = link_to 'Title & Metadata', update_guide_path(@guide)
  %li{ :class => current_page?(edit_guide_path(@guide)) && "active" }
    = link_to 'Edit Guide', edit_guide_path(@guide)
  %li{ :class => current_page?(add_modules_path(@guide.id)) && "active" }
    = link_to 'Add Modules', add_modules_path(@guide.id, :sort => 'name')
  %li{ :class => current_page?(share_guide_path(@guide)) && "active" }
    = link_to 'Share Guide', share_guide_path(@guide)
  %li{ :class => current_page?(new_guide_path) && "active" }
    = link_to 'Create New Guide', new_guide_path
