%fieldset
  #main
    %h3.title
      = render :partial => 'title_actions'
    %h4
      = link_to 'Edit Guide', :controller => 'guide', :action => 'edit',  :id => @guide
      >> Contact Module
    - if flash[:notice]
      #error_wrapper
        #notice= flash[:notice]
    <div id="hide"
    - if @guide.resource
      style="display:none"
    >
    \#{form_tag :action => 'edit_contact'  do}
      %label
        Contact Module
        %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(CONTACT_MOD_MSSG, this, event, '125');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
      %select#guide_type{:name => "contact"}
        %option Select
        - for resource in @resources
          <option value=#{resource.id}
          - if resource.id == @selected
            selected='selected'
          >#{h resource.mod.label}
      #submit_button
        = submit_tag 'Update', :class => "submit"
  - if @guide.resource
    = render 'shared/edit_contact'
  #submit_button
    = link_to 'Cancel', :action => 'edit',:id => @guide
= render :partial => 'side_bar'
