%fieldset

  #main

    %h3.title
      = render 'title_actions'

    %h4
      = link_to 'Edit Guide', edit_guide_path(@guide)
      >>> Related Subject Guides

    = flash_notice

    %p
      = related_link
      = more_help 'AUTO_RELATED_MSSG', '125'
      = image_tag 'spinner.gif', :id => 'spinner_sort', :class => 'image', :alt => 'Spinner', :style => 'display: none;'

    #share_left
      = form_tag :action => 'edit_relateds' do
        %label
          Add Related Guides
          = more_help 'AUTO_RELATED_MSSG', '125'
        = select_tag :relateds, options_from_collection_for_select(@guides, 'id', 'guide_name', @relateds), :class => 'guide_id', :multiple => true, :size => 8
        %br/
        .tip
          (Click CTRL or Command to select multiple guides)
          #submit_button
            = submit_tag 'Update', :class => 'submit'
        %p
          = link_to 'Cancel', edit_guide_path(@guide)

    = render 'shared/edit_relateds'
