<fieldset>
  <div id="main">
    <h3 class='title'>
      <%=render :partial => 'title_actions'%>
    </h3>
    <h4><%=link_to 'Edit Guide', :controller => 'srg', :action => 'edit',  :id => @guide%> >> Related Subject Guides</h4>
    <% if flash[:notice] -%>
    <div id="error_wrapper">    <div id="notice" ><%= flash[:notice] %></div></div>
    <% end -%>
    <p><%= related_link %> <span class = 'more_help'  onMouseover="fixedtooltip(AUTO_RELATED_MSSG, this, event, '125');" onMouseout="delayhidetip();"><%= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
      <%= image_tag "spinner.gif", :id => "spinner_sort", :class => 'image', :alt => "Spinner", :style => 'display:none;'%>
    </p>

    <div id="share_left">
      <%= form_tag :action => 'edit_relateds'  do%>
      <label>Add Related Guides  <span class = 'more_help'  onMouseover="fixedtooltip(ADD_RELATED_MSSG, this, event, '125');" onMouseout="delayhidetip();"><%= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
      </label>
      <select id="guide_id" name="relateds[]" multiple="multiple"  size = 8>
	<%= options_from_collection_for_select(@guides, 'id', 'guide_name', @relateds) %>
      </select>
      <br /><div class = 'tip'> (Click CTRL or Command to select multiple guides)</div>

  <%= render 'shared/edit_relateds' %>

</fieldset>
