- if flash[:notice]
  #list_error= flash[:notice]
#page-list
  = new_button 'Create New Guide'
  #new{:style => "display:none"}
    = form_tag :action => 'create', :id => @guide do
      = error_messages_for 'guide'
      #vertical_inputs.index
        %h4
          Create Guide#{more_help 'GUIDE_TITLE_MSSG', '125'}
          \#{content_tag :a, 'cancel', :onclick => "$('new').toggle();$('new_button').toggle();; return false;"}
        = render  :partial => "guide_title"
        %span
          %label &nbsp;
          = submit_tag 'Create Guide'
        %br/
  - if @guides.size < 1
    #notice You currently have no Guides. Create a new guide to get started.
  - else
    #second_tabs
      %ul#second_tabs
        - if @local.enable_search?
          %li.current
            = form_tag :controller => 'search', :action => 'search_guides' do
              = text_field 'mod', 'search',"size" => 35,                                                           |
                :style => "color:#aaa;",                                                                           |
                :value => @search_value,                                                                           |
                :onfocus => "if(this.getValue()=='#{@search_value}'){this.clear();this.style.color = '#000';}",    |
                :onblur => "if(this.getValue()==''){this.setValue('#{@search_value}');this.style.color = '#aaa';}" |
              = submit_tag 'Search'
        %li.guide_pag.pagination
          - if !@all and @guides.total_pages > 1
            = will_paginate @guides, :params => params.merge({:sort=> @sort}).except(:authenticity_token), :page_links => false
    .clearer
    #product-list
      #table
        = render "guides_list"
