- if flash[:notice]
  = flash[:notice]

.row
  .span12

    = link_to 'Create New Guide', new_guide_path, :class => 'btn'

    %li.guide_pag.pagination
      - if !@all and @guides.total_pages > 1
        = will_paginate @guides, :params => params.merge({:sort=> @sort}).except(:authenticity_token), :page_links => false

.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th= sort_link_helper "Shared?", "shared"
          %th= sort_link_helper "Title", "name"
          %th
          %th= sort_link_helper "Last Update", "date"
          %th= sort_link_helper "Published?", "publish"

      %tbody
        - @guides.each do |guide|
          %tr

            %td
              - unless guide.shared?
                = link_to '',  share_guide_path(guide), :class => 'icon-share-alt', :title => 'Click to share this guide'
              - else
                = link_to '',  share_guide_path(guide), :class => 'icon-group', :title => 'This Guide is Shared. Click to share this guide with others.'

            %td= truncate(guide.guide_name,:length => 65)

            %td
              = link_to '', edit_guide_path(guide), :class =>'icon-edit', :title => 'Edit this Guide'
              &nbsp;
              = link_to '', show_srg_path(guide, :tab => session[:current_tab]), :popup => ['', 'height=800,width=980,toolbar=yes, scrollbars =yes,resizable=yes'], :class =>'icon-external-link', :title => 'Preview this Guide in a New Window'
              &nbsp;
              = link_to '', copy_guide_path(guide), :class =>'icon-copy', :title => 'Copy this guide'
              &nbsp;
              = link_to '', {:url => delete_guide_path(guide, :page => @page, :sort => @sort), :update => "row#{guide.id}" , :confirm => 'Are you sure you want to delete this guide from your list?'}, :href => delete_guide_path(guide, :page => @page, :sort => @sort), :class =>'icon-trash', :title => 'Delete this guide', :method => :post, :remote => true

            %td= guide.updated_at.to_date

            %td= render :partial => "publish" ,:locals => {:guide => guide, :page => @page, :sort => @sort}

    .pagination
      - if !@all and @guides.total_pages > 1
        %ul
          %li= will_paginate @guides, :params => params.merge({:sort=> @sort}).except(:authenticity_token)
          %li= link_to 'show all', :loading => "Element.show('spinner_links')",                                                                    |
              :complete => "Element.hide('spinner_links')", :url => {:action => 'index_all', :sort => @sort },:update => 'table', :remote => true |
          %li= image_tag "spinner.gif", :id => "spinner_links", :class => 'image', :alt => "Spinner", :style => 'display:none;'
      - elsif @all
        %ul
          %li= link_to 'show less', :action => 'index', :sort => @sort
