.row
  .span2= render 'tutorials/side_bar'

  .span10
    %h1.page-header
      Units
    %p
      = link_to new_tutorial_unit_path(@tutorial), class: 'btn' do
        %i.icon-plus
        Add units
    %p
      - unless @units.blank?
        %ul.unstyled
          - @units.each do |uz|
            - unit = uz.unit
            - resources = unit.resourceables
            %li{ id: "item_#{ uz.id }" }
              %i.icon-move
              = truncate unit.title.html_safe, :length => 40
              &nbsp;
              &nbsp;
              = link_to '', edit_tutorial_unit_path(@tutorial, unit), :class => 'icon-edit', :title => 'Edit this unit'
              = link_to '', { :controller =>'unit', :action => 'remove_unit', :id => unit }, :confirm => 'Are you sure you want to remove this Unit from the Tutorial?', :method => :post, :class => 'icon-trash'
              = link_to '', { :controller =>'unit', :action => 'add_modules', :id => unit }, { :class => 'icon-plus' }
              %p{ :id => "detail_#{unit.id}" }
                = raw unit.description
                - unless resources.blank?
                  %ul{ :id => "full#{unit.id.to_s}" }
                    - resources.each do |resable|
                    - res = resable.resource
                    - mod = res.mod
                      %li{:id => "item_#{resable.id}"}
                        %i.icon-move
                        = truncate raw(mod.label), :length => 40
                        &nbsp;
                        %i.icon-question-sign{ :data => { :content => "#{ render_tooltip(mod) }", :html => 'true', :trigger => 'hover' } }
                        &nbsp;
                        = awesome_button edit_module_path(mod, type: mod.class), 'edit', 'Edit this module'
                        &nbsp;
                        = awesome_button module_path(mod, type: mod.class), 'external-link', 'Preview this module'
                        &nbsp;
                        = link_to '', module_path(mod, type: mod.class), method: :delete, class: 'icon-trash', title: 'Delete this module', confirm: 'Are you sure?'
                  = sortable_element 'full'+unit.id.to_s, :url => {:controller => 'unit', :action => "sort_mods" }, :complete => visual_effect(:highlight, 'full'+unit.id.to_s), :handle => 'handle', :containment => ['full'+unit.id.to_s], :constraint => false
                - else
                  %p This unit does not have any modules.
      - else
        %p This tutorial does not have any units.

:javascript
  $('.icon-question-sign').popover();
