%section{ :id => "topic_#{ mod.resources.first.id  }" }
  %h2= h mod.module_title
  .module
    - unless mod.information.blank?
      = raw mod.information
    %ul.undeco
      - mod.links.each do |link|
        %li
          - if link.target == true
            %a.external{:href => "#{raw link.url}", :rel => "external", :title => "Link opens in a new window."}
              = link.label.blank? ? h(link.url) : h(link.label)
          - else
            %a{:href => "#{raw link.url}"}
              = link.label.blank? ? h(link.url) : h(link.label)
          - unless link.description.blank?
            %br/
            = h(raw link.description)
