%h1 Edit Module

= form_for @mod do |f|
  = error_messages_for :mod

  %label{ for: 'mod_label' }
    Private Label
    %span.required *
  = f.text_field :label, size: 55

  %label{ for: 'mod_title' }
    Module Title
    %span.required *
  = f.text_field :module_title, size: 55

  %label{ for: 'mod_tag_list' } Tags
  = f.text_field :tag_list, size: 55
  .tip example: WR101, Databases, Writing

  %label{ for: 'mod_information' } General Information
  = f.text_area :information, class: 'tinymce'
  = tinymce
  %br/

  %h3 Links
  %hr
    .container
      = awesome_button polymorphic_path([@mod, Link], action: :new), 'plus', "Create new link", 'btn btn-primary'
    %br/
    %ul.unstyled{ 'id' => 'links', 'data-reorder' => polymorphic_path([@mod], action: :reorder_links)}
      - @mod.links.each do |link|
        %li{ :id => "link_#{ link.id }" }
          %i.icon-move
          = truncate link.label, :length => 40
          &nbsp;
          &nbsp;
          = awesome_button polymorphic_path([@mod, link], action: :edit), 'edit', 'Edit this link', ''
          |
          = link_to '', polymorphic_path([@mod, link], action: :delete), :confirm => 'Are you sure you want to remove this link?', :method => :post, :class => 'icon-trash', :title => 'Remove this link'
  %br/

  = f.submit class: 'btn btn-primary'
  = link_to 'Cancel', modules_path, class: 'btn btn-cancel'
