- content_for(:sidebar) do
  #my_menu.sdmenu.green_page
    %div
      = link_to 'Title &amp; Metadata', {:controller => 'tutorial', :action => 'update',  :id => @tutorial.id }, :class => "top " + ( @ucurrent || "")
      = link_to 'Units', {:controller => 'unit', :action => 'units' }, :class =>@uscurrent
      = link_to 'Quiz Manager', {:controller => 'tutorial', :action => 'quizes',  :id => @tutorial.id}, :class =>@qcurrent
      = link_to 'Share Tutorial', {:controller => 'tutorial', :action => 'share',  :id => @tutorial.id }, :class =>@scurrent
      - if @altered_tutorials
        %br/
        %span Recently Edited
        = form_tag :controller => 'tutorial', :action => 'recent_tutorials' do
          %ul.undeco
            %li When finished editing; mark as done.
            - @altered_tutorials.each do |altered|
              - if altered
                %li
                  = check_box_tag("altered_list[]", altered.id ,false, {})
                  = link_to h(altered.route_title), {:controller => 'tutorial', :action => 'edit',  :id => altered.id }, :title => "edit guide"
            %li= submit_tag 'Done'
