%ul.nav.nav-pills.nav-stacked
  %li{ :class => current_page?(edit_tutorial_path @tutorial) && "active" }
    = link_to 'Title & Metadata', {:controller => 'tutorial', :action => 'update',  :id => @tutorial.id }, :class => "top " + ( @ucurrent || "")
  %li
    = link_to 'Units', units_path(@tutorial), :class =>@uscurrent
  %li
    = link_to 'Preview Tutorial', show_ort_path(@tutorial)
  %li
    - if @tutorial.published == 0 || @tutorial.published == false
      = link_to 'Publish Tutorial', publish_tutorial_path(@tutorial), :confirm => 'Are you sure you want to publish this tutorial?', :method => :post
    - else
      = link_to 'Unpublish Tutorial', publish_tutorial_path(@tutorial), :confirm => 'Are you sure you want to unpublish this tutorial?', :method => :post
  %li
    - if @tutorial.archived == 0 || @tutorial.archived == false
      = link_to 'Archive Tutorial', archive_tutorial_path(@tutorial), :confirm => 'Are you sure you want to archive this tutorial?', :method => :post
    - else
      = link_to 'Unarchive Tutorial', archive_tutorial_path(@tutorial), :confirm => 'Are you sure you want to unarchive this tutorial?', :method => :post
  %li
    = link_to 'Quiz Manager', {:controller => 'tutorial', :action => 'quizes',  :id => @tutorial.id}, :class =>@qcurrent
  %li
    = link_to 'Share Tutorial', {:controller => 'tutorial', :action => 'share',  :id => @tutorial.id }, :class =>@scurrent
  %li
    - if @altered_tutorials
      %span Recently Edited
      = form_tag :controller => 'tutorial', :action => 'recent_tutorials' do
        %ul.undeco
          %li When finished editing; mark as done.
          - @altered_tutorials.each do |altered|
            - if altered
              %li
                = check_box_tag("altered_list[]", altered.id ,false, {})
                = link_to h(altered.route_title), {:controller => 'tutorial', :action => 'edit',  :id => altered.id }, :title => "edit guide"
          %li= submit_tag 'Done'
