%h1.page-header
  Save Tutorial as

= report_errors @tutorial

= form_tag({ :action => 'copy' }, { :multipart => true }) do
  .control-group
    %label.control-label{ :for => 'tutoral_name' }
      Title
      %span.required *
    .controls
      = text_field 'tutorial','name', { :class => 'input-xlarge' }
      %i.icon-question-sign{ :data => { :content => 'Enter a unique title for the tutorial. Do not add \'Tutorial\' to the name.', :html => 'true', :trigger => 'hover' } }
  .control-group
    %label.control-label{ :for => 'tutorial_tutorial_description' }
      Description
      %i.icon-question-sign{ :data => { :content => 'The tutorial description is a short teaser that describes the tutorial. Tips:  Write complete sentences. Highlight special content on the tutorial.', :html => 'true', :trigger => 'hover' } }
    .controls
      = text_area 'tutorial', 'description', :class => 'tinymce'
      = tinymce
  .control-group
    %label.control-label{ :for => 'tags' }
      Tags
    .controls
      = text_field_tag 'tags', @tag_list, { :class => 'input-xlarge' }
      %i.icon-question-sign{ :data => { :content => 'Tags are keywords that highlight content on the tutorial. Tips: Seperate individual tags with a comma. Only add 3-5 tags. Use the same tag on similar tutorials to help discovery.', :html => 'true', :trigger => 'hover' } }
      %p.muted
        examples: anthropology, insects, caves
  .control-group
    %label.control-label Handout Upload
    .controls
      %div= file_field 'tutorial', 'attachment'
      - unless @tutorial.attachment_file_name.blank?
        %p.muted
          NOTE: This tutorial has an attachment.
  %fieldset
    %legend
      Course Data
      %i.icon-question-sign{ :data => { :content => 'If the tutorial is for a specific course enter the data. Otherwise leave blank.', :html => 'true', :trigger => 'hover' } }
    %p.muted
      Is this tutorial for a specific class?
    .control-group
      %label.control-label{ :for => 'tutorial_subject', :class => flash[:course_subj_error] && 'required' || 'not-required' }
        Subject
      .controls
        = select('tutorial', 'subject_id', Subject.all.collect {|p| [p.subject_code, p.id] }, { :include_blank => true, :selected => @selected_subj.id }, { :class => 'page input-xlarge' })
    .control-group
      %label.control-label{ :for => 'tutorial_course_num', :class => flash[:course_num_error] && 'required' || 'not-required' }
        Course Numbers
      .controls
        = text_field 'tutorial', 'course_num', :class => 'input-xlarge'
        %p.muted
          examples: 451 or 451/551
    .control-group
      %label.control-label{ :for => 'tutorial_section_num' }
        Section Numbers
      .controls
        = text_field 'tutorial', 'section_num', :class => 'input-xlarge'
        %p.muted
          examples: 001 or 011, 012, 013
    .control-group
      %label.control-label
        Is the tutorial graded?
        %i.icon-question-sign{ :data => { :content => 'Click yes if the tutorial will be graded for a specific course. You must enter course data for the tutorial to offer a graded option.', :html => 'true', :trigger => 'hover' } }
        %label.radio
          Yes
          = radio_button :tutorial, :graded, true
        %label.radio
          No
          = radio_button :tutorial, :graded, false
  .control-group
    = submit_tag 'Save', :class => 'btn submit'
    = submit_tag 'Save & Add Unit', :class => 'btn submit'
    = link_to 'Cancel', { :action => 'index' }, { :class => 'btn' }

:javascript
  $('.icon-question-sign').popover();
