- if flash[:error]
  #error_wrapper
    #list_error= flash[:error]
#page-list
  = new_button 'Create New Tutorial'
  #new{:style => "display:none"}
    = form_tag :action => 'create', :id => @tutorial do
      = error_messages_for 'tutorial'
      #vertical_inputs.index
        %h4
          Create Tutorial
          %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(TUTORIAL_TITLE_MSSG, this, event, '125');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
          = content_tag :a, 'cancel', :onclick => "$('new').toggle();$('new_button').toggle();; return false;"
        <span #{%(class="required") if flash[:tutorial_title_error]}>
        %label{:for => "tutoral_name"}
          Title
          %span.required.more_help *
        = text_field 'tutorial','name',"size" => 50
        %span
          %label &nbsp;
          = submit_tag 'Create Tutorial'
        %br/
  - unless @tutorials.size <1
    #second_tabs
      %ul#second_tabs
        %li.guide_pag.pagination
          - if !@all and @tutorials.total_pages > 1
            = will_paginate @tutorials, :params => params.merge({:sort=> @sort}).except(:authenticity_token), :page_links => false
    .clearer
    #product-list
      #table
        %table
          %thead
            %tr
              %th{:class => sort_th_class_helper("shared")}
                = sort_link_helper "Shared?", "shared"
              %th{:class => sort_th_class_helper("name")}
                = sort_link_helper "Title", "name"
                = image_tag "spinner.gif", :id => "spinner_sort", :class => 'image', :alt => "Spinner", :style => 'display:none;'
              %th
                %span.tip edit | view | copy | delete
              %th{:class => sort_th_class_helper("date")}
                = sort_link_helper "Last Update", "date"
              %th{:class => "#{sort_th_class_helper "publish"} center"}
                = sort_link_helper "Published?", "publish"
              %th{:class => "#{sort_th_class_helper "archive"} center"}
                = sort_link_helper "Archived?", "archive"
          - for tutorial in @tutorials
            %tr{:class => cycle('list-line-odd', 'list-line-even'), :id => "row#{tutorial.id}"}
              = render :partial => "index_row" ,:locals => {:tutorial => tutorial,:page => @pag, :sort => @sort}
        .pagination
          - if !@all and @tutorials.total_pages > 1
            %ul
              %li= will_paginate @tutorials, :params => params.merge({:sort=> @sort}).except(:authenticity_token)
              %li= link_to  'show all', :loading => "Element.show('spinner_links')",                                                                   |
                  :complete => "Element.hide('spinner_links')", :url => {:action => 'index_all', :sort => @sort },:update => 'table', :remote => true |
              %li= image_tag "spinner.gif", :id => "spinner_links", :class => 'image', :alt => "Spinner", :style => 'display:none;'
          - elsif @all
            %ul
              %li= link_to 'show less', :action => 'index', :sort => @sort
  - else
    #notice You currently have no Tutorials. Create a new tutorial to get started.
