%fieldset
  %h4 Share Tutorial
  #share
    %fieldset
      = form_tag({:action=> 'share_update',:id =>@tutorial}) do
        = render 'shared/share_left'
        #share_right
          %fieldset
            %h5 Sharing Options
            %strong
              = radio_button_tag('copy', 2, true)
              Share the Original
            .tip Sharing the original gives editing rights to this tutorial.
            %strong
              = radio_button_tag('copy', 1, false)
              Share a Template
            .tip
              A template is a copy and does not give editing rights to this tutorial.
          %fieldset
            %h5 Email Message
            = text_area_tag "body", @message, :rows => 10, :cols => 3, :class => "tinymce"
            = tinymce
          %p
            = submit_tag "Share Tutorial",:class => "submit"
            = link_to 'Cancel', :action => 'index'
        .clearer
    %fieldset
      %h5 Tutorial Colaborators
      .tip
        Removing someone revokes their editing rights. The tutorial's creator can not be removed from the list.
        \#{image_tag "spinner.gif", :id => "spinner_sort", :class => 'image', :alt => "Spinner", :style => 'display:none;'}
      #editor-list
        = render :partial => 'owners'
= render :partial => 'side_bar'
