= report_errors guide

= form_for guide do |f|
  %fieldset
    %legend Guide title &amp; subject
    .control-group
      %label.control-label{ :for => 'guide[guide_name]' }
        %span{ :class => flash[:guide_title_error] && 'required' || 'not-required' }
          Title
        %span.required *
      .controls
        = f.text_field :guide_name, :class => 'input-xlarge'

    .control-group
      %label.control-label{ :for => 'guide[masters]' } Subject Categories
      %p.muted
        Press Ctrl or Command to select more than one item or to deselect an item.
      .controls
        = f.collection_select :master_ids, @masters, :id, :value, {}, :multiple => true, :class => 'input-xlarge'

  %fieldset
    %legend Related Courses
    .control-group
      %label.control-label{ :for => 'guide[subjects]' }
        Associate Course Subjects
      %p.muted
        Press Ctrl or Command to select more than one item or to deselect an item.
      .controls
        = f.collection_select :subject_ids, @subjects, :id, :subject_name, {}, :multiple => true, :class => 'input-xlarge'

  %fieldset
    %legend Guide Metadata
    .control-group
      %label.control-label{ :for => 'tags' }
        Tags
      .controls
        = f.text_field :tag_list, :class => 'input-xlarge'
        %p.muted examples: anthropology, insects, caves
    .control-group
      %label.control-label{ :for => 'guide[description]' }
        Description
      %p.muted
        Enter a short description about the guide.
      .controls
        = f.text_area :description, :class => 'tinymce'
        = tinymce

  .control-group
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', guide, class: 'btn btn-cancel'
