= report_errors guide

= form_for guide do |f|
  %fieldset
    %legend Guide title &amp; subject
    .control-group
      %label.control-label{ :for => 'guide[guide_name]' }
        %span{ :class => flash[:guide_title_error] && 'required' || 'not-required' }
          Title
        %span.required *
      .controls
        = f.text_field :guide_name, :class => 'input-xlarge'
    .control-group
      %label.control-label{ :for => 'type[]' } Subject Categories
      %p.muted
        Press Ctrl or Command to select more than one item or to deselect an item.
      .controls
        = select_tag :masters, options_from_collection_for_select(@masters, :id, :value, @selected_masters), :multiple => true, :class => 'input-xlarge'

  %fieldset
    %legend Related Courses
    .control-group
      %label.control-label{ :for => 'subject[]' }
        Associate Course Subjects
      %p.muted
        Press Ctrl or Command to select more than one item or to deselect an item.
      .controls
        = select_tag :subjects, options_from_collection_for_select(@subjects, :id, :subject_name, @selected_subjects), :multiple => true, :class => 'input-xlarge'

  %fieldset
    %legend Guide Metadata
    .control-group
      %label.control-label{ :for => 'tags' }
        Tags
      %p.muted examples: anthropology, insects, caves
      .controls
        = f.text_field :tag_list, :class => 'input-xlarge'
    .control-group
      %label.control-label{ :for => 'guide[description]' }
        Description
      %p.muted
        Enter a short description about the guide.
      .controls
        = f.text_area :description, :class => 'tinymce'
        = tinymce

  .control-group
    = f.submit class: 'btn btn-primary'
    = link_to 'Cancel', guides_path, class: 'btn btn-cancel'
