%ul.nav.nav-pills.nav-stacked
  %li{ :class => current_page?(edit_guide_path @guide) && "active" }
    = link_to 'Title & Metadata', edit_guide_path(@guide)
  %li{ :class => current_page?(edit_contact_guide_path @guide) && "active" }
    = link_to 'Edit Contact Module', edit_contact_guide_path(@guide)
  %li{ :class => current_page?(guide_path @guide) && "active" }
    = link_to 'Edit Guide', guide_path(@guide)
  %li
    = link_to 'Preview Guide', show_srg_path(@guide, :tab => session[:current_tab])
  %li
    - if @guide.published?
      = link_to 'Unpublish Guide', publish_guide_path(@guide), :confirm => 'Are you sure you want to unpublish this guide?', :method => :post
    - else
      = link_to 'Publish Guide', publish_guide_path(@guide), :confirm => 'Are you sure you want to publish this guide?', :method => :post
  %li{ :class => current_page?(share_guide_path(@guide)) && "active" }
    = link_to 'Share Guide', share_guide_path(@guide)
  %li{ :class => current_page?(edit_relateds_guide_path) && "active" }
    = link_to 'Edit Related Guides', edit_relateds_guide_path
  %li{ :class => current_page?(new_guide_path) && "active" }
    = link_to 'Create New Guide', new_guide_path
