.row
  .span2= render 'side_bar'

  .span10
    = render 'title_actions'

    %h2
      = link_to 'Edit Guide', @guide
      >> Contact Module

    = flash_notice

    = form_for @guide, url: edit_contact_guide_path(@guide) do |f|
      %label
        Contact Module
        %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(CONTACT_MOD_MSSG, this, event, '125');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
      = f.select :resource_id, @resources
      %br/
      = f.submit 'Update Contact', class: 'btn btn-primary'
      = link_to 'Cancel', @guide, class: 'btn btn-cancel'
