.row
  .span2= render 'side_bar'

  .span10
    %fieldset
      %legend
        Update contact module for
        %strong
          = @guide.guide_name
      = form_for @guide, url: edit_contact_guide_path(@guide) do |f|
        .control-group
          %label.control-label
            Contact Module
          .controls
            = f.select :resource_id, @resources
            %i.icon-question-sign{ :data => { :content => 'The contact module should contain contact information for the person or cluster available to answer questions about the guide\'s content and subject area.', :html => 'true', :trigger => 'hover' } }
        .control-group
          = f.submit 'Save', class: 'btn btn-primary'
          = link_to 'Cancel', @guide, class: 'btn btn-cancel'

:javascript
  $('.icon-question-sign').popover();
