.container
  = awesome_button new_guide_path, 'plus', 'Create new guide', 'btn btn-primary'

.container
  %table.table.table-striped
    %thead
      %tr
        %th Shared?
        %th Title
        %th
        %th Last Update
        %th Published?

    %tbody
      - @guides.each do |guide|
        %tr
          %td= awesome_button share_guide_path(guide), guide.shared? ? 'star' : 'star-empty', 'Share this guide'
          %td= truncate guide.guide_name.html_safe, length: 65
          %td
            = awesome_button guide, 'edit', 'Edit this guide'
            &nbsp;
            = awesome_button show_srg_path(guide), 'external-link', 'Preview this guide'
            &nbsp;
            = awesome_button copy_guide_path(guide), 'copy', 'Copy this guide'
            &nbsp;
            = link_to '', guide, :update => 'row#{guide.id}' , :confirm => 'Are you sure you want to delete this guide from your list?', :class => 'icon-trash', :title => 'Delete this guide', :method => :delete, :remote => true
          %td
            = guide.updated_at.to_date
          %td
            - if guide.published == 0 || guide.published == false
              = awesome_button publish_guide_path(guide), 'lock', 'Add this guide to the published list'
            - else
              = awesome_button publish_guide_path(guide), 'unlock', 'Remove this guide from the published list'

- if !@all and @guides.total_pages > 1
  = will_paginate @guides, :params => params.merge({:sort=> @sort}).except(:authenticity_token), :page_links => false
