.row
  .span2= render 'side_bar'

  .span10
    %h1.page-header= @guide.guide_name

    %ul.nav.nav-tabs
      - @tabs.each do |tab|
        - if tab.id == @tab.id
          %li.active= link_to tab.tab_name, polymorphic_path([@guide, tab], action: :add_modules)
        - else
          %li= link_to tab.tab_name, [@guide, tab]
      %li
        = link_to polymorphic_path([@guide, :tab], action: :new), :title => 'Add new tab' do
          %i.icon-plus

    .tab-content
      .tab-pane.active
        .btn-toolbar
          .btn-group
            = link_to '', polymorphic_path([@guide, @tab], action: :toggle_columns), class: 'btn icon-columns', title: 'Toggle columns', onclick: "$.post('#{ polymorphic_path([@guide, @tab], action: :toggle_columns )}');"
            = link_to '', { :controller => 'tab', :action => 'delete', :id => @tab.id }, :confirm => 'This will delete the tab and all modules on this tab from the guide. Are you sure you want to delete this tab from the guide?', :method => :post, class: 'btn btn-danger icon-trash', title: 'Delete this module', confirm: 'Are you sure?'
        = render "tabs/#{ @mods.present? ? 'one' : 'two' }_column_tab"
