%fieldset
  = render :partial => '/module/edit_top'
  - if flash[:error]
    #error_wrapper
      #list_error= flash[:error]
  = error_messages_for 'mod'
  = form_for :mod, :url => { :action => :update_reserves , :id => @mod} do |form|
    = render :partial => '/module/mod_title'
    %label{:for => "reserves"}
      Reserves Information
      %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(RESERVES_MSSG, this, event, '');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
    = text_area_tag 'mod', 'reserves', :class => "tinymce"
    = tinymce
    %br/
    #returns
      - if @course_title
        = render :partial => "/reserve/reserved_titles", :locals => {:reserves => @reserves}
      - else
        #page_title
          %label{:for => "mod_course_reserves"}
            Search Course Reserves
            %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip('Please select a class to get course reserves for', this, event, '');"}
              = image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
              = image_tag "spinner.gif", :id => "spinner_search", :class => 'image', :alt => "Spinner", :style => 'display:none;'
          %fieldset
            %label.form_float{:for => "page_subject"}
              Subject
              %select#page_subject.page{:name => "page_subject"}
                = options_from_collection_for_select(@subj_list, 'subject_code', 'subject_code')
            %label.form_float{:for => "page_cnum"}
              Course #
              \#{text_field_tag 'page_cnum', '', :size => 5}
            %label.form_float{:for => "button"}
              = button_to_function("Search reserves",                                                                                                |
                  remote_function(:update => "returns", :loading => "Element.show('spinner_search')", :complete => "Element.hide('spinner_search')", |
                :url => { :action => 'update_reserves', :id => @mod}, :submit =>'page_title'))                                                       |
.clearer
    #submit_button
      = submit_tag 'Save Module', :class => "submit"
      %p
        = link_to 'Cancel', :controller => 'module', :action => 'index',:id => @mod, :type =>@mod.class, :list => 'mine', :sort => 'name'
