%fieldset
  = render :partial => '/module/edit_top'
  - if flash[:error]
    #error_wrapper
      #list_error= flash[:error]
  = error_messages_for 'mod'
  = form_for :mod, :url => { :action => :update_reserves , :id => @mod} do |form|
    = render :partial => '/module/mod_title'
    %label{:for => "reserves"}
      Reserves Information
      %span.more_help{:onmouseout => "delayhidetip();", :onmouseover => "fixedtooltip(RESERVES_MSSG, this, event, '');"}= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)
    = text_area_tag 'mod', 'reserves', :class => "tinymce"
    = tinymce
    %br/
    #returns
      - if @course_title
        = render :partial => "/reserve/reserved_titles", :locals => {:reserves => @reserves}
      - else
        = render :partial => "/reserve/add_reserves"
    #submit_button
      = submit_tag 'Save Module', :class => "submit"
      %p
        = link_to 'Cancel', :controller => 'module', :action => 'index',:id => @mod, :type =>@mod.class, :list => 'mine', :sort => 'name'
