%section{ :id => "topic_#{ mod.class.to_s.downcase }_#{ mod.id }" }
  - unless mod.librarian_name.blank?
    %h2.text-center
      = mod.module_title.html_safe

    - unless mod.image_info.blank?
      .thumbnail.pagination-centered
        = raw mod.image_info

    %table
      - unless mod.office_hours.blank?
        %tr
          %td
            %strong Office Hours
          %td #{h mod.office_hours}
      - unless mod.office_location.blank?
        %tr
          %td{ :style => 'padding-right: 8px' }
            %strong Office Location
          %td #{h mod.office_location}
      - unless mod.chat_info.blank? and mod.email.blank?
        %tr
          %td
            %strong Contact Info
          %td
            - unless mod.email.blank?
              = mail_to mod.email, truncate(mod.email,:length => 30), :encode => "javascript"
            - unless mod.chat_info.blank?
              %br/
              = mod.chat_info
    - unless mod.chat_widget.blank?
      = raw mod.chat_widget
      %noscript You must have javascript enabled
      %noembed You must allow embedded content.
