%h2= @mod.module_title.html_safe

.container
  %ul.unstyled
    - unless @mod.librarian_name.blank?
      %li
        %strong
          = h @mod.librarian_name
    - unless @mod.image_info.blank?
      %li= @mod.image_info
    - unless @mod.office_hours.blank?
      %li
        Office Hours: #{h @mod.office_hours}
    - unless @mod.office_location.blank?
      %li
        Office Location: #{h @mod.office_location}
    - unless @mod.chat_info.blank? and @mod.email.blank?
      %li
        Contact Info:
        %br/
        - unless @mod.email.blank?
          = mail_to @mod.email, truncate(@mod.email,:length => 30), :encode => "javascript"
        - unless @mod.chat_info.blank?
          %br/
          = @mod.chat_info
    - unless @mod.chat_widget.blank?
      %li
        = @mod.chat_widget
        %noscript You must have javascript enabled
        %noembed You must allow embedded content.
