!!!
%html{ :lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    = csrf_meta_tag
    %title
      Library &agrave; la Carte Tool: Login
    = stylesheet_link_tag 'application', 'tool', :media => 'all'
    = javascript_include_tag 'application'
  %body
    .container
      #header
        = image_tag 'Logo.jpg', :title => 'Library Information made to order', :alt => 'logo'

      = flash_notice

      = yield :layout

    %footer.footer
      .container
        %p
          %a{:href => 'http://alacarte.library.oregonstate.edu/support' }
            Help/FAQ
