<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="content-language" content="en" />
    <meta name="keywords" content= "<%= @meta_keywords %>" />
    <meta name="description" content= "<%= @meta_description %>" />
    <%= csrf_meta_tag %>
    <title><%=@title%></title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/print.css' />
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield :layout %>
  </body>
</html>
