!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/css", "http-equiv" => "Content-Style-Type"}/
    %meta{:content => "text/javascript", "http-equiv" => "Content-Script-Type"}/
    %meta{:content => @meta_keywords, :name => "keywords"}/
    %meta{:content => raw(@meta_description), :name => "description"}/
    %meta{:content => @owner ? @owner.name : 'System Generated', :name => "author"}/
    %meta{:content => @updated ? @updated : Time.now, :name => "revised"}/
    = csrf_meta_tag
    = @local.meta
    %title= @title
    = stylesheet_link_tag 'application', 'template'
    /[if lt IE 8]
      <haml:loud> stylesheet_link_tag 'font-awesome-ie7.min.css', :media =&amp;gt; 'all' </haml:loud>
    = javascript_include_tag 'application', 'template'
    - unless @local.styles.blank?
      = stylesheet_link_tag(@local.styles)
    - unless @local.js_link.blank?
      = javascript_include_tag(@local.js_link)
    /[if lte IE 7] <haml:loud> stylesheet_link_tag 'template_ie'</haml:loud>
    - if !@local.banner_url.blank?
      :css
        /**/
        				/* change header */
        				#header{background: repeat-x url('#{@local.banner_url}');}
        			 /**/
    - if !@local.logo_url.blank?
      :css
        /**/
        				   #header #logo{background: no-repeat url('#{@local.logo_url}');}
        			 /**/
    - if !@local.logo_height.blank?
      :css
        /**/
        				   #logo { height: #{@local.logo_height}px;}
        			/**/
  <body
  - if @guides || @pages
    id="browse"
  >
  \#{render :partial => 'shared/template_top'}
  \#{yield(:layout) or yield}
  \#{render :partial => 'shared/template_bottom'}
  \#{@local.tracking}

:javascript
  setTimeout(function () {
    $('body').scrollspy({
      offset: $('#header').height() + $('#page-header').height(),
      spy:    'scroll',
      target: '.page-sidebar'
    });
  }, 100);
