%html

  %head
    = csrf_meta_tag
    %title
      = params[:controller].humanize || ""
      \: Library &agrave; la Carte Tool
    = stylesheet_link_tag 'application', 'modules', 'tool'
    = javascript_include_tag 'application', 'messages', 'tool'

  %body
    .container

      .row
        #header_small
          %span.subtitle= image_tag 'LogoSmall.png', :title => 'Information made to order', :alt => 'logo'
          #login_bar
            %b
              - unless @admin
                = @user.name
              - else
                Admin
            IS LOGGED IN |
            = link_to icon_tag('signout', 'Logout'), logout_path

        #tab_container
          %ul#tabs
            %li{:class => @mcurrent || 'mod_tab' }
              = link_to_unless_current "Modules" , modules_path

            - if @user.is_admin || @local.guides_list.include?('pages')
              %li{:class => @pcurrent || "page_tab" }
                = link_to_unless_current "Pages" , pages_path(:sort => 'name')
            - if @user.is_admin || @local.guides_list.include?('guides')
              %li{:class => @gcurrent || "quide_tab" }
                = link_to_unless_current "Guides" , guides_path(:sort => 'name')
            - if @user.is_admin || @local.guides_list.include?('tutorials')
              %li{:class => @tcurrent || "tutorial_tab" }
                = link_to_unless_current "Tutorials" , tutorials_path

            %li{:class => @dcurrent || "dashboard_tab" }
              = link_to_unless_current "Dashboard" , dashboard_path

            - if @user.is_admin
              %li{:class => @current || "admin_tab" }
                = link_to_unless_current "Admin Tools" , tools_path

      .row
        #content_full
          - if params[:controller].humanize.in? %w(Dashboard Index)
            .span12
              = yield :layout
          - else
            .span2
              #side_bar
                = yield :sidebar
            .span10
              = yield :layout
